<div class="modal-dialog modal-sm">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title"></h4>
		</div>
		<div class="modal-body">
			<div id="pesan" class="hidden">
				<div role="alert"></div>
			</div>

			<form class="form-horizontal" onsubmit="return false;">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="password" name="pass_lama" class="form-control simpan" placeholder="Password Lama" required />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<input type="password" name="pass_baru" class="form-control simpan" placeholder="Password Baru" required />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<input type="password" name="verifier" class="form-control simpan" placeholder="Ulangi Password Baru" required />
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<div class="btn-group">
				<button id="button-kembali" type="button" class="btn btn-sm btn-info"><i class="fa fa-times"></i> Close</button>
				<button id="button-simpan" 	type="button" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
			</div>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
	jQuery.getScript('form_ganti_password.js');
</script>
