<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="loadFile('cetakDRDRinci')">
		<i class="fa fa-print"></i> Rinci Tagihan
	</button>
	<button class="btn btn-sm btn-info" onclick="loadFile('cetakDRDTunda')">
		<i class="fa fa-print"></i> Rinci Penundaan
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="clear-fix"></div>
<table class="dataTable_print">
  <tr>
	<td colspan="16" align="center" style="font-size: 14px; font-weight: bold;">BERITA ACARA</td>
  </tr>
  <tr>
	<td colspan="12" align="center" style="font-weight: bold;">HASIL COKLIT TAGIHAN REKENING AIR MINUM BULAN <span class="bulan-tagihan">TAGIHAN</span></td>
  </tr>
  <tr>
	<td colspan="12" align="center" style="font-weight: bold;">PEMAKAIAN BULAN <span class="bulan-rekening-1">REKENING</span></td>
  </tr>
  <tr>
	<td colspan="14" align="center" style="font-weight: bold;">SERTA SUSULAN BULAN <span class="bulan-rekening-2">LALU</span> DAN <span class="bulan-rekening-3">LALU</span></td>
  </tr>
  <tr>
	<td colspan="18" align="center" style="font-size: 16px; font-weight: bold;">UNIT ORGANISASI <span class="unit-organisasi"></span></td>
  </tr>
  <tr>
	<input type="hidden" class="011" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="011" name="title"		value="Form Ganti Nomor" />
	<input type="hidden" class="011" name="tc" 			value="011" />
	<input type="hidden" class="011" name="tdesc" />
	<td colspan="11" align="center" onclick="loadForm('011')" style="cursor: pointer; font-weight: bold;">NOMOR : <span class="011">ENTRY NOMOR</span></td>
  </tr>
  <tr>
	<td colspan="11"><hr></td>
  </tr>
  <tr>
	<td valign="top" align="right">1.</td>
	<td></td>
	<td colspan="9" align="justify">
		Pada hari <span onclick="loadForm('012')" style="cursor: pointer; font-weight: bold;" class="012">ENTRY HARI</span>, <span onclick="loadForm('013')" style="cursor: pointer; font-weight: bold;" class="013">ENTRY TANGGAL</span>, pada jam <span onclick="loadForm('014')" style="cursor: pointer; font-weight: bold;" class="014">ENTRY JAM</span> WIB, kami :
		<input type="hidden" class="012" name="targetUrl"	value="form_ganti_reff.html" />
		<input type="hidden" class="012" name="title"		value="Form Ganti Hari" />
		<input type="hidden" class="012" name="tc" 			value="012" />
		<input type="hidden" class="012" name="tdesc" />
		<input type="hidden" class="013" name="targetUrl"	value="form_ganti_reff.html" />
		<input type="hidden" class="013" name="title"		value="Form Ganti Tanggal" />
		<input type="hidden" class="013" name="tc" 			value="013" />
		<input type="hidden" class="013" name="tdesc" />
		<input type="hidden" class="014" name="targetUrl"	value="form_ganti_reff.html" />
		<input type="hidden" class="014" name="title"		value="Form Ganti Jam" />
		<input type="hidden" class="014" name="tc" 			value="014" />
		<input type="hidden" class="014" name="tdesc" />
	</td>
  </tr>
  <tr>
	<td></td>
	<td align="right" valign="top">a.</td>
	<input type="hidden" class="111" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="111" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="111" name="tc" 			value="111" />
	<input type="hidden" class="111" name="tdesc" />
	<input type="hidden" class="112" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="112" name="title"		value="Form Ganti Pangkat" />
	<input type="hidden" class="112" name="tc" 			value="112" />
	<input type="hidden" class="112" name="tdesc" />
	<input type="hidden" class="113" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="113" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="113" name="tc" 			value="113" />
	<input type="hidden" class="113" name="tdesc" />
	<td colspan="9" style="cursor: pointer;">
		<u><span onclick="loadForm('111')" class="111">ENTRY NAMA</span> – <span onclick="loadForm('112')" class="112">ENTRY PANGKAT</span></u><br>
		<span onclick="loadForm('113')" class="113">ENTRY JABATAN</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">b.</td>
	<input type="hidden" class="121" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="121" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="121" name="tc" 			value="121" />
	<input type="hidden" class="121" name="tdesc" />
	<input type="hidden" class="122" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="122" name="title"		value="Form Ganti Pangkat" />
	<input type="hidden" class="122" name="tc" 			value="122" />
	<input type="hidden" class="122" name="tdesc" />
	<input type="hidden" class="123" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="123" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="123" name="tc" 			value="123" />
	<input type="hidden" class="123" name="tdesc" />
	<td colspan="9" style="cursor: pointer;">
		<u><span onclick="loadForm('121')" class="121">ENTRY NAMA</span> – <span onclick="loadForm('122')" class="122">ENTRY PANGKAT</span></u><br>
		<span onclick="loadForm('123')" class="123">ENTRY JABATAN</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">c.</td>
	<input type="hidden" class="131" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="131" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="131" name="tc" 			value="131" />
	<input type="hidden" class="131" name="tdesc" />
	<input type="hidden" class="132" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="132" name="title"		value="Form Ganti Pangkat" />
	<input type="hidden" class="132" name="tc" 			value="132" />
	<input type="hidden" class="132" name="tdesc" />
	<input type="hidden" class="133" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="133" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="133" name="tc" 			value="133" />
	<input type="hidden" class="133" name="tdesc" />
	<td colspan="9" style="cursor: pointer;">
		<u><span onclick="loadForm('131')" class="131">ENTRY NAMA</span> - <span onclick="loadForm('132')" class="132">ENTRY PANGKAT</span></u><br>
		<span onclick="loadForm('133')" class="133">ENTRY JABATAN</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">d.</td>
	<input type="hidden" class="141" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="141" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="141" name="tc" 			value="141" />
	<input type="hidden" class="141" name="tdesc" />
	<input type="hidden" class="142" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="142" name="title"		value="Form Ganti Pangkat" />
	<input type="hidden" class="142" name="tc" 			value="142" />
	<input type="hidden" class="142" name="tdesc" />
	<input type="hidden" class="143" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="143" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="143" name="tc" 			value="143" />
	<input type="hidden" class="143" name="tdesc" />
	<td colspan="9" style="cursor: pointer;">
		<u><span onclick="loadForm('141')" class="141">ENTRY NAMA</span> – <span onclick="loadForm('142')" class="142">ENTRY PANGKAT</span></u><br>
		<span onclick="loadForm('143')" class="143">ENTRY JABATAN</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">e.</td>
	<input type="hidden" class="151" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="151" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="151" name="tc" 			value="151" />
	<input type="hidden" class="151" name="tdesc" />
	<input type="hidden" class="152" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="152" name="title"		value="Form Ganti Pangkat" />
	<input type="hidden" class="152" name="tc" 			value="152" />
	<input type="hidden" class="152" name="tdesc" />
	<input type="hidden" class="153" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="153" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="153" name="tc" 			value="153" />
	<input type="hidden" class="153" name="tdesc" />
	<td colspan="9" style="cursor: pointer;">
		<u><span onclick="loadForm('151')" class="151">ENTRY NAMA</span> - <span onclick="loadForm('152')" class="152">ENTRY PANGKAT</span></u><br>
		<span onclick="loadForm('153')" class="153">ENTRY JABATAN</span>
	</td>
  </tr>
  <tr id="removeForm">
	<td colspan="2" align="right" valign="top">f.</td>
	<input type="hidden" class="161" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="161" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="161" name="tc" 			value="161" />
	<input type="hidden" class="161" name="tdesc" />
	<input type="hidden" class="163" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="163" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="163" name="tc" 			value="153" />
	<input type="hidden" class="163" name="tdesc" />
	<td colspan="9" style="cursor: pointer;">
		<u><span onclick="loadForm('161')" class="161">ENTRY NAMA</span></u><br>
		<span onclick="loadForm('163')" class="163">ENTRY JABATAN</span>
	</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11" align="justify"> 
		Telah mengadakan  Pencocokan dan Penelitian  (Coklit)  atas  tagihan rekening air minum untuk  pemakaian <i style="font-weight: bold;">bulan <span class="bulan-rekening-1">REKENING</span> serta susulan bulan <span class="bulan-rekening-2">SUSULAN</span> dan <span class="bulan-rekening-3">SUSULAN</span></i>
	</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td align="right" style="font-weight: bold;">2.</td>
	<td></td>
	<td colspan="9" style="font-weight: bold;">DASAR</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">a.</td>
	<input type="hidden" class="211" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="211" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="211" name="tc" 			value="211" />
	<input type="hidden" class="211" name="tdesc" 		value="Peraturan Bersama Menteri Keuangan Republik Indonesia dan Menteri Pertahanan Republik Indonesia Nomor : 67/PMK/05/2013 dan Nomor 15 Tahun 2013, tanggal 27 Maret 2013,  tentang : Mekanisme Pelaksanaan Anggaran dan Belanja Negara dilingkungan Kementerian Pertahanan dan Tentara Nasional Indonesia."/>
	<td colspan="9" onclick="loadForm('211')" style="cursor: pointer; text-align: justify;">
		<span class="211">
			Peraturan Bersama Menteri Keuangan Republik Indonesia dan Menteri Pertahanan Republik Indonesia Nomor : 67/PMK/05/2013 dan Nomor 15 Tahun 2013, tanggal 27 Maret 2013,  tentang : Mekanisme Pelaksanaan Anggaran dan Belanja Negara dilingkungan Kementerian Pertahanan dan Tentara Nasional Indonesia.
		</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">b.</td>
	<input type="hidden" class="221" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="221" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="221" name="tc" 			value="221" />
	<input type="hidden" class="221" name="tdesc" 		value="Keputusan Menteri Pertahanan Nomor : KEP/810/XI/2010 tanggal 12 Nopember 2010 tentang Pelayanan Daya dan Jasa Listrik, Gas dan Air Minum di Lingkungan KEMHAN dan TNI." />
	<td colspan="9" onclick="loadForm('221')" style="cursor: pointer; text-align: justify;">
		<span class="221">
			Keputusan Menteri Pertahanan Nomor : KEP/810/XI/2010 tanggal 12 Nopember 2010 tentang Pelayanan Daya dan Jasa Listrik, Gas dan Air Minum di Lingkungan KEMHAN dan TNI.
		</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">c.</td>
	<input type="hidden" class="231" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="231" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="231" name="tc" 			value="231" />
	<input type="hidden" class="231" name="tdesc" 		value="Nota Kesepahaman (Memorandum of Understanding) antara KEMHAN dengan PERPAMSI Nomor : MoU/08/ VI/2012 dan 010/MoU/VI/2012, tanggal 8 Juni 2012." />
	<td colspan="9" onclick="loadForm('231')" style="cursor: pointer;  text-align: justify;">
		<span class="231">
			Nota Kesepahaman (Memorandum of Understanding) antara KEMHAN dengan PERPAMSI Nomor : MoU/08/ VI/2012 dan 010/MoU/VI/2012, tanggal 8 Juni 2012.
		</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">d.</td>
	<input type="hidden" class="241" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="241" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="241" name="tc" 			value="241" />
	<input type="hidden" class="241" name="tdesc" 		value="Perjanjian Kerjasama antara KEMHAN  dengan  PERPAMSI Nomor :  PKS/01/VI/2012  dan  011/KJB/VI/2012, tanggal 8 Juni 2012 tentang Penggunaan, Penagihan dan Pembayaran Air Minum KEMHAN dan TNI." />
	<td colspan="9" onclick="loadForm('241')" style="cursor: pointer; text-align: justify;">
		<span class="241">
			Perjanjian Kerjasama antara KEMHAN  dengan  PERPAMSI Nomor :  PKS/01/VI/2012  dan  011/KJB/VI/2012, tanggal 8 Juni 2012 tentang Penggunaan, Penagihan dan Pembayaran Air Minum KEMHAN dan TNI.
		</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">e.</td>
	<input type="hidden" class="251" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="251" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="251" name="tc" 			value="251" />
	<input type="hidden" class="251" name="tdesc" 		value="Petunjuk  Pelaksanaan  Dirjen  Renhan Kemhan Nomor  :  Juklak/34/XII/2009/DJREN,  tanggal 18 Desember 2009 tentang Prosedur Administrasi Pencocokan dan Penelitian serta Pembayaran Anggaran Terpusat LTGA di Lingkungan Kementerian Pertahanan." />
	<td colspan="9" onclick="loadForm('251')" style="cursor: pointer; text-align: justify;">
		<span class="251">
			Petunjuk  Pelaksanaan  Dirjen  Renhan Kemhan Nomor  :  Juklak/34/XII/2009/DJREN,  tanggal 18 Desember 2009 tentang Prosedur Administrasi Pencocokan dan Penelitian serta Pembayaran Anggaran Terpusat LTGA di Lingkungan Kementerian Pertahanan.
		</span>
	</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td align="right" style="font-weight: bold;">3.</td>
	<td></td>
	<td colspan="8" style="font-weight: bold;">PELAKSANAAN</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="2" align="right">a.</td>
	<td colspan="8">Tagihan :</td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td width="30px">a.1.</td>
	<td width="150px">Diajukan</td>
	<td width="10px">:</td>
	<td width="250px" align="right" class="volume-diajukan">-</td>
	<td width="50px">&nbsp;m3,</td>
	<td width="150px">sebesar Rp. </td>
	<td width="250px" align="right" class="rupiah-diajukan">-</td>
	<td width="800px"></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>a.2.</td>
	<td>Ditunda</td>
	<td>:</td>
	<td align="right" class="volume-ditunda">-</td>
	<td>&nbsp;m3,</td>
	<td>sebesar Rp.</td>
	<td align="right" class="rupiah-ditunda">-</td>
	<td></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>a.3.</td>
	<td>Ditolak</td>
	<td>:</td>
	<td align="right" class="volume-ditolak">-</td>
	<td>&nbsp;m3,</td>
	<td>sebesar Rp.</td>
	<td align="right" class="volume-ditolak">-</td>
	<td></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>a.4.</td>
	<td>Disetujui</td>
	<td>:</td>
	<td align="right" class="volume-disetujui">-</td>
	<td>&nbsp;m3,</td>
	<td>sebesar Rp.</td>
	<td align="right" class="rupiah-disetujui">-</td>
	<td></td>
  </tr>
  <tr>
	<td colspan="2" align="right">b.</td>
	<td colspan="8">Pemeriksaan Bukti-Bukti Tagihan :</td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>b.1.</td>
	<td colspan="9">Pemeriksaan atas bukti- bukti  tagihan  Unit Organisasi dilaksanakan oleh Pembina Teknis dan Keuangan</td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td colspan="8">dengan berpedoman pada peraturan yang berlaku.</td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>b.2.</td>
	<td colspan="9">Tagihan yang diajukan dalam coklit ini belum pernah dibayar oleh Unit Organisasi <b><i><span class="unit-organisasi"></span></i></b></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>b.3.</td>
	<td colspan="9">Tagihan yang dicoklit adalah :</td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td>- Tagihan Unit Organisasi</td>
	<td>:</td>
	<td><b><span class="unit-organisasi"></span></b></td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td>- Rekening Bulan</td>
	<td>:</td>
	<td colspan="5"><b><span class="bulan-rekening-1">BULAN REKENING</span> serta susulan bulan <span class="bulan-rekening-2">SUSULAN</span> dan <span class="bulan-rekening-3">SUSULAN</span></b></td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td>- Volume Pemakaian</td>
	<td>:</td>
	<td align="right"><b><span class="volume-disetujui">-</span></b></td>
	<td><b>&nbsp;m3</b></td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td>- Nilai Pemakaian</td>
	<td>:</td>
	<td><b>Rp. <span class="rupiah-disetujui">-</span></b></td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td>Dibulatkan menjadi</td>
	<td>:</td>
	<td><b>Rp. <span class="rupiah-pembulatan">-</span></b></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td colspan="8"><b>(<span class="string-pembulatan"></span>)</b></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td align="right" style="font-weight: bold;">4.</td>
	<td></td>
	<td colspan="8" style="font-weight: bold;">KESIMPULAN</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11" align="justify">
		Jumlah tagihan pemakaian air minum unit organisasi <i style="font-weight: bold;"><span class="title"></span></i> yang diajukan PERPAMSI sesuai hasil Pencocokan dan Penelitian (Coklit), terlampir telah disetujui untuk diajukan penagihan / penyelesaian pembayarannya ke KPPN Kementerian Keuangan Republik Indonesia, sebagai berikut :
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right">a.</td>
	<td colspan="2">Volume pemakaian</td>
	<td>:</td>
	<td><b><span class="volume-disetujui">-</span>&nbsp;m3</b></td>
  </tr>
  <tr>
	<td colspan="2" align="right">b.</td>
	<td colspan="2">Nilai pemakaian</td>
	<td>:</td>
	<td><b>Rp.  <span class="rupiah-disetujui">-</span></b></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2">Dibulatkan menjadi</td>
	<td>:</td>
	<td><b>Rp. <span class="rupiah-pembulatan">-</span></b></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td colspan="8"><b>(<span class="string-pembulatan"></span>)</b></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td align="right" style="font-weight: bold;">5.</td>
	<td></td>
	<td colspan="8" style="font-weight: bold;">PENUTUP</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11">Demikian Berita Acara hasil coklit tagihan rekening air minum dibuat, untuk diproses lebih lanjut.</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<input type="hidden" class="511" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="511" name="title"		value="Form Ganti Lokasi" />
	<input type="hidden" class="511" name="tc" 			value="511" />
	<input type="hidden" class="511" name="tdesc" />
	<td colspan="11" align="right" onclick="loadForm('511')" style="cursor: pointer;">
		<span class="511">

		</span>
	</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11" align="center" style="font-weight: bold;">PEJABAT PEMBINA FUNGSI TEKNIS, ANGGARAN, KEUANGAN KEMHAN DAN TNI SERTA DPP PERPAMSI</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">a.</td>
	<td colspan="2" width="700" valign="top"><u><span class="111"></span></u></td>
	<td colspan="3" rowspan="3" valign="top"><span class="113"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" valign="top"><span class="112"></span></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10" align="right">_______________________</td>
  </tr>
  <tr>
	<td colspan="2"align="right" valign="top">b.</td>
	<td colspan="2" valign="top"><u><span class="121"></span></u></td>
	<td colspan="3" rowspan="3" valign="top"><span class="123"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" valign="top"><span class="122"></span></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10" align="right">_______________________</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">c.</td>
	<td colspan="2" valign="top"><u><span class="131"></span></u></td>
	<td colspan="3" rowspan="3" valign="top"><span class="133"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" valign="top"><span class="132"></span></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10" align="right">_______________________</td>
  </tr>
  <tr>
	<td colspan="2"align="right" valign="top">d.</td>
	<td colspan="2" valign="top"><u><span class="141"></span></u></td>
	<td colspan="3" rowspan="3" valign="top"><span class="143"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" valign="top"><span class="142"></span></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10" align="right">_______________________</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">e.</td>
	<td colspan="2" valign="top"><u><span class="151"></span></u></td>
	<td colspan="3" rowspan="3" valign="top"><span class="153"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" valign="top"><span class="152"></span></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10"align="right">_______________________</td>
  <tr>
	<td colspan="2" align="right" valign="top">f.</td>
	<td colspan="2" valign="top"><span class="161"></span></td>
	<td colspan="3" rowspan="3" valign="top"><span class="163"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" align="right"></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10" align="right">_______________________</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11" align="center" style="font-weight: bold;"><u>MENGETAHUI:</u></td>
  </tr>
  <tr>
	<td colspan="11" align="center">DEWAN PENGURUS PUSAT PERPAMSI</td>
  </tr>
  <tr>
	<td colspan="11" align="center">Ketua Umum,</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11" align="center"><b><u>RUDIE KUSMAYADI, BE M.Si</u></b></td>
  </tr>
</table>
<div class="clear-fix"></div>
<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="loadFile('cetakDRDRinci')">
		<i class="fa fa-print"></i> Rinci Tagihan
	</button>
	<button class="btn btn-sm btn-info" onclick="loadFile('cetakDRDTunda')">
		<i class="fa fa-print"></i> Rinci Penundaan
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "cetak_ba_coklit.js");
</script>
