<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="table-responsive">
	<table width="100%">
		<thead>
			<tr>
				<td align="center">BERITA ACARA</td>
			</tr>
			<tr>
				<td align="center">HASIL COKLIT TAGIHAN REKENING AIR MINUM BULAN <span class="bulan-rekening-1">REKENING</span></td>
			</tr>
			<tr>
				<td align="center">KEMENTERIAN PERTAHANAN DAN TNI</td>
			</tr>
			<tr>
				<td align="center">DIAJUKAN <span class="bulan-tagihan">TAGIHAN</span></td>
			</tr>
			<tr>
				<td align="center"><hr></td>
			</tr>
		</thead>
	</table>
	<table id="tabel-kemhan-cetak" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<td rowspan="3" align="center">No.</td>
				<td rowspan="3" align="center">Bulan</td>
				<td colspan="10" align="center">Unit Organisasi</td>
				<td rowspan="2" colspan="2" align="center">Jumlah</td>
			</tr>
			<tr>
				<td colspan="2" align="center">KEMHAN</td>
				<td colspan="2" align="center">MABES TNI</td>
				<td colspan="2" align="center">TNI AD</td>
				<td colspan="2" align="center">TNI AL</td>
				<td colspan="2" align="center">TNI AU</td>
			</tr>
			<tr>
				<td align="center">VOLUME</td>
				<td align="center">RUPIAH</td>
				<td align="center">VOLUME</td>
				<td align="center">RUPIAH</td>
				<td align="center">VOLUME</td>
				<td align="center">RUPIAH</td>
				<td align="center">VOLUME</td>
				<td align="center">RUPIAH</td>
				<td align="center">VOLUME</td>
				<td align="center">RUPIAH</td>
				<td align="center">VOLUME</td>
				<td align="center">RUPIAH</td>
			</tr>
			<tr>
				<td align="center">1</td>
				<td align="center">2</td>
				<td align="center">3</td>
				<td align="center">4</td>
				<td align="center">5</td>
				<td align="center">6</td>
				<td align="center">7</td>
				<td align="center">8</td>
				<td align="center">9</td>
				<td align="center">10</td>
				<td align="center">11</td>
				<td align="center">12</td>
				<td align="center">13 = (3+5+7+9+11)</td>
				<td align="center">14 = (4+6+8+10+12)</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>A.</td>
				<td>TAGIHAN REGULER</td>
				<td colspan="12"></td>
			</tr>
			<tr>
				<td>I.</td>
				<td>Hasil Klarifikasi Tim Coklit</td>
				<td class="volume-klarifikasi-kemhan" align="right">-</td>
				<td class="rupiah-klarifikasi-kemhan" align="right">-</td>
				<td class="volume-klarifikasi-mabes" align="right">-</td>
				<td class="rupiah-klarifikasi-mabes" align="right">-</td>
				<td class="volume-klarifikasi-ad" align="right">-</td>
				<td class="rupiah-klarifikasi-ad" align="right">-</td>
				<td class="volume-klarifikasi-al" align="right">-</td>
				<td class="rupiah-klarifikasi-al" align="right">-</td>
				<td class="volume-klarifikasi-au" align="right">-</td>
				<td class="rupiah-klarifikasi-au" align="right">-</td>
				<td class="volume-klarifikasi" align="right">-</td>
				<td class="rupiah-klarifikasi" align="right">-</td>
			</tr>
			<tr>
				<td>II.</td>
				<td><span class="bulan-rekening-3">REKENING</span></td>
				<td colspan="12"></td>
			</tr>
			<tr>
				<td></td>
				<td>a. Diajukan pada bulan ini</td>
				<td class="volume-02-kemhan" align="right">-</td>
				<td class="rupiah-02-kemhan" align="right">-</td>
				<td class="volume-02-mabes" align="right">-</td>
				<td class="rupiah-02-mabes" align="right">-</td>
				<td class="volume-02-ad" align="right">-</td>
				<td class="rupiah-02-ad" align="right">-</td>
				<td class="volume-02-al" align="right">-</td>
				<td class="rupiah-02-al" align="right">-</td>
				<td class="volume-02-au" align="right">-</td>
				<td class="rupiah-02-au" align="right">-</td>
				<td class="volume-02" align="right">-</td>
				<td class="rupiah-02" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>b. Ditunda pembayaran untuk bulan ini</td>
				<td class="volume-tunda-02-kemhan" align="right">-</td>
				<td class="rupiah-tunda-02-kemhan" align="right">-</td>
				<td class="volume-tunda-02-mabes" align="right">-</td>
				<td class="rupiah-tunda-02-mabes" align="right">-</td>
				<td class="volume-tunda-02-ad" align="right">-</td>
				<td class="rupiah-tunda-02-ad" align="right">-</td>
				<td class="volume-tunda-02-al" align="right">-</td>
				<td class="rupiah-tunda-02-al" align="right">-</td>
				<td class="volume-tunda-02-au" align="right">-</td>
				<td class="rupiah-tunda-02-au" align="right">-</td>
				<td class="volume-tunda-02" align="right">-</td>
				<td class="rupiah-tunda-02" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>c. Ditolak pembayaran untuk bulan ini</td>
				<td class="volume-tolak-02-kemhan" align="right">-</td>
				<td class="rupiah-tolak-02-kemhan" align="right">-</td>
				<td class="volume-tolak-02-mabes" align="right">-</td>
				<td class="rupiah-tolak-02-mabes" align="right">-</td>
				<td class="volume-tolak-02-ad" align="right">-</td>
				<td class="rupiah-tolak-02-ad" align="right">-</td>
				<td class="volume-tolak-02-al" align="right">-</td>
				<td class="rupiah-tolak-02-al" align="right">-</td>
				<td class="volume-tolak-02-au" align="right">-</td>
				<td class="rupiah-tolak-02-au" align="right">-</td>
				<td class="volume-tolak-02" align="right">-</td>
				<td class="rupiah-tolak-02" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td align="right">Sub Jumlah (a-b-c)</td>
				<td class="volume-02-kemhan" align="right">-</td>
				<td class="rupiah-02-kemhan" align="right">-</td>
				<td class="volume-02-mabes" align="right">-</td>
				<td class="rupiah-02-mabes" align="right">-</td>
				<td class="volume-02-ad" align="right">-</td>
				<td class="rupiah-02-ad" align="right">-</td>
				<td class="volume-02-al" align="right">-</td>
				<td class="rupiah-02-al" align="right">-</td>
				<td class="volume-02-au" align="right">-</td>
				<td class="rupiah-02-au" align="right">-</td>
				<td class="volume-02" align="right">-</td>
				<td class="rupiah-02" align="right">-</td>
			</tr>
			<tr>
				<td>III.</td>
				<td><span class="bulan-rekening-2">REKENING</span></td>
				<td colspan="12"></td>
			</tr>
			<tr>
				<td></td>
				<td>a. Diajukan pada bulan ini</td>
				<td class="volume-01-kemhan" align="right">-</td>
				<td class="rupiah-01-kemhan" align="right">-</td>
				<td class="volume-01-mabes" align="right">-</td>
				<td class="rupiah-01-mabes" align="right">-</td>
				<td class="volume-01-ad" align="right">-</td>
				<td class="rupiah-01-ad" align="right">-</td>
				<td class="volume-01-al" align="right">-</td>
				<td class="rupiah-01-al" align="right">-</td>
				<td class="volume-01-au" align="right">-</td>
				<td class="rupiah-01-au" align="right">-</td>
				<td class="volume-01" align="right">-</td>
				<td class="rupiah-01" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>b. Ditunda pembayaran untuk bulan ini</td>
				<td class="volume-tunda-01-kemhan" align="right">-</td>
				<td class="rupiah-tunda-01-kemhan" align="right">-</td>
				<td class="volume-tunda-01-mabes" align="right">-</td>
				<td class="rupiah-tunda-01-mabes" align="right">-</td>
				<td class="volume-tunda-01-ad" align="right">-</td>
				<td class="rupiah-tunda-01-ad" align="right">-</td>
				<td class="volume-tunda-01-al" align="right">-</td>
				<td class="rupiah-tunda-01-al" align="right">-</td>
				<td class="volume-tunda-01-au" align="right">-</td>
				<td class="rupiah-tunda-01-au" align="right">-</td>
				<td class="volume-tunda-01" align="right">-</td>
				<td class="rupiah-tunda-01" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>c. Ditolak pembayaran untuk bulan ini</td>
				<td class="volume-tolak-01-kemhan" align="right">-</td>
				<td class="rupiah-tolak-01-kemhan" align="right">-</td>
				<td class="volume-tolak-01-mabes" align="right">-</td>
				<td class="rupiah-tolak-01-mabes" align="right">-</td>
				<td class="volume-tolak-01-ad" align="right">-</td>
				<td class="rupiah-tolak-01-ad" align="right">-</td>
				<td class="volume-tolak-01-al" align="right">-</td>
				<td class="rupiah-tolak-01-al" align="right">-</td>
				<td class="volume-tolak-01-au" align="right">-</td>
				<td class="rupiah-tolak-01-au" align="right">-</td>
				<td class="volume-tolak-01" align="right">-</td>
				<td class="rupiah-tolak-01" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td align="right">Sub Jumlah (a-b-c)</td>
				<td class="volume-01-kemhan" align="right">-</td>
				<td class="rupiah-01-kemhan" align="right">-</td>
				<td class="volume-01-mabes" align="right">-</td>
				<td class="rupiah-01-mabes" align="right">-</td>
				<td class="volume-01-ad" align="right">-</td>
				<td class="rupiah-01-ad" align="right">-</td>
				<td class="volume-01-al" align="right">-</td>
				<td class="rupiah-01-al" align="right">-</td>
				<td class="volume-01-au" align="right">-</td>
				<td class="rupiah-01-au" align="right">-</td>
				<td class="volume-01" align="right">-</td>
				<td class="rupiah-01" align="right">-</td>
			</tr>
			<tr>
				<td>IV.</td>
				<td><span class="bulan-rekening-1">REKENING</span></td>
				<td colspan="12"></td>
			</tr>
			<tr>
				<td></td>
				<td>a. Diajukan pada bulan ini</td>
				<td class="volume-00-kemhan" align="right">-</td>
				<td class="rupiah-00-kemhan" align="right">-</td>
				<td class="volume-00-mabes" align="right">-</td>
				<td class="rupiah-00-mabes" align="right">-</td>
				<td class="volume-00-ad" align="right">-</td>
				<td class="rupiah-00-ad" align="right">-</td>
				<td class="volume-00-al" align="right">-</td>
				<td class="rupiah-00-al" align="right">-</td>
				<td class="volume-00-au" align="right">-</td>
				<td class="rupiah-00-au" align="right">-</td>
				<td class="volume-00" align="right">-</td>
				<td class="rupiah-00" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>b. Ditunda pembayaran untuk bulan ini</td>
				<td class="volume-tunda-00-kemhan" align="right">-</td>
				<td class="rupiah-tunda-00-kemhan" align="right">-</td>
				<td class="volume-tunda-00-mabes" align="right">-</td>
				<td class="rupiah-tunda-00-mabes" align="right">-</td>
				<td class="volume-tunda-00-ad" align="right">-</td>
				<td class="rupiah-tunda-00-ad" align="right">-</td>
				<td class="volume-tunda-00-al" align="right">-</td>
				<td class="rupiah-tunda-00-al" align="right">-</td>
				<td class="volume-tunda-00-au" align="right">-</td>
				<td class="rupiah-tunda-00-au" align="right">-</td>
				<td class="volume-tunda-00" align="right">-</td>
				<td class="rupiah-tunda-00" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>c. Ditolak pembayaran untuk bulan ini</td>
				<td class="volume-tolak-00-kemhan" align="right">-</td>
				<td class="rupiah-tolak-00-kemhan" align="right">-</td>
				<td class="volume-tolak-00-mabes" align="right">-</td>
				<td class="rupiah-tolak-00-mabes" align="right">-</td>
				<td class="volume-tolak-00-ad" align="right">-</td>
				<td class="rupiah-tolak-00-ad" align="right">-</td>
				<td class="volume-tolak-00-al" align="right">-</td>
				<td class="rupiah-tolak-00-al" align="right">-</td>
				<td class="volume-tolak-00-au" align="right">-</td>
				<td class="rupiah-tolak-00-au" align="right">-</td>
				<td class="volume-tolak-00" align="right">-</td>
				<td class="rupiah-tolak-00" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td align="right">Sub Jumlah (a-b-c)</td>
				<td class="volume-00-kemhan" align="right">-</td>
				<td class="rupiah-00-kemhan" align="right">-</td>
				<td class="volume-00-mabes" align="right">-</td>
				<td class="rupiah-00-mabes" align="right">-</td>
				<td class="volume-00-ad" align="right">-</td>
				<td class="rupiah-00-ad" align="right">-</td>
				<td class="volume-00-al" align="right">-</td>
				<td class="rupiah-00-al" align="right">-</td>
				<td class="volume-00-au" align="right">-</td>
				<td class="rupiah-00-au" align="right">-</td>
				<td class="volume-00" align="right">-</td>
				<td class="rupiah-00" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td align="right">JUMLAH TAGIHAN REGULER</td>
				<td class="volume-kemhan" align="right">-</td>
				<td class="rupiah-kemhan" align="right">-</td>
				<td class="volume-mabes" align="right">-</td>
				<td class="rupiah-mabes" align="right">-</td>
				<td class="volume-ad" align="right">-</td>
				<td class="rupiah-ad" align="right">-</td>
				<td class="volume-al" align="right">-</td>
				<td class="rupiah-al" align="right">-</td>
				<td class="volume-au" align="right">-</td>
				<td class="rupiah-au" align="right">-</td>
				<td class="volume" align="right">-</td>
				<td class="rupiah" align="right">-</td>
			</tr>
			<tr>
				<td colspan="14">&nbsp;</td>
			</tr>
			<tr>
				<td>B.</td>
				<td>TAGIHAN SUSULAN</td>
				<td colspan="12"></td>
			</tr>
			<tr>
				<td></td>
				<td>a. Diajukan pada bulan ini</td>
				<td class="volume-04-kemhan" align="right">-</td>
				<td class="rupiah-04-kemhan" align="right">-</td>
				<td class="volume-04-mabes" align="right">-</td>
				<td class="rupiah-04-mabes" align="right">-</td>
				<td class="volume-04-ad" align="right">-</td>
				<td class="rupiah-04-ad" align="right">-</td>
				<td class="volume-04-al" align="right">-</td>
				<td class="rupiah-04-al" align="right">-</td>
				<td class="volume-04-au" align="right">-</td>
				<td class="rupiah-04-au" align="right">-</td>
				<td class="volume-04" align="right">-</td>
				<td class="rupiah-04" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>b. Ditunda pembayaran untuk bulan ini</td>
				<td class="volume-tunda-04-kemhan" align="right">-</td>
				<td class="rupiah-tunda-04-kemhan" align="right">-</td>
				<td class="volume-tunda-04-mabes" align="right">-</td>
				<td class="rupiah-tunda-04-mabes" align="right">-</td>
				<td class="volume-tunda-04-ad" align="right">-</td>
				<td class="rupiah-tunda-04-ad" align="right">-</td>
				<td class="volume-tunda-04-al" align="right">-</td>
				<td class="rupiah-tunda-04-al" align="right">-</td>
				<td class="volume-tunda-04-au" align="right">-</td>
				<td class="rupiah-tunda-04-au" align="right">-</td>
				<td class="volume-tunda-04" align="right">-</td>
				<td class="rupiah-tunda-04" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>c. Ditolak pembayaran untuk bulan ini</td>
				<td class="volume-tolak-04-kemhan" align="right">-</td>
				<td class="rupiah-tolak-04-kemhan" align="right">-</td>
				<td class="volume-tolak-04-mabes" align="right">-</td>
				<td class="rupiah-tolak-04-mabes" align="right">-</td>
				<td class="volume-tolak-04-ad" align="right">-</td>
				<td class="rupiah-tolak-04-ad" align="right">-</td>
				<td class="volume-tolak-04-al" align="right">-</td>
				<td class="rupiah-tolak-04-al" align="right">-</td>
				<td class="volume-tolak-04-au" align="right">-</td>
				<td class="rupiah-tolak-04-au" align="right">-</td>
				<td class="volume-tolak-04" align="right">-</td>
				<td class="rupiah-tolak-04" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td align="right">Sub Jumlah (a-b-c)</td>
				<td class="volume-04-kemhan" align="right">-</td>
				<td class="rupiah-04-kemhan" align="right">-</td>
				<td class="volume-04-mabes" align="right">-</td>
				<td class="rupiah-04-mabes" align="right">-</td>
				<td class="volume-04-ad" align="right">-</td>
				<td class="rupiah-04-ad" align="right">-</td>
				<td class="volume-04-al" align="right">-</td>
				<td class="rupiah-04-al" align="right">-</td>
				<td class="volume-04-au" align="right">-</td>
				<td class="rupiah-04-au" align="right">-</td>
				<td class="volume-04" align="right">-</td>
				<td class="rupiah-04" align="right">-</td>
			</tr>
			<tr>
				<td>C.</td>
				<td>JUMLAH SELURUHNYA</td>
				<td colspan="12"></td>
			</tr>
			<tr>
				<td></td>
				<td>a. Diajukan pada bulan ini</td>
				<td class="volume-kemhan" align="right">-</td>
				<td class="rupiah-kemhan" align="right">-</td>
				<td class="volume-mabes" align="right">-</td>
				<td class="rupiah-mabes" align="right">-</td>
				<td class="volume-ad" align="right">-</td>
				<td class="rupiah-ad" align="right">-</td>
				<td class="volume-al" align="right">-</td>
				<td class="rupiah-al" align="right">-</td>
				<td class="volume-au" align="right">-</td>
				<td class="rupiah-au" align="right">-</td>
				<td class="volume" align="right">-</td>
				<td class="rupiah" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>b. Ditunda pembayaran untuk bulan ini</td>
				<td class="volume-tunda-kemhan" align="right">-</td>
				<td class="rupiah-tunda-kemhan" align="right">-</td>
				<td class="volume-tunda-mabes" align="right">-</td>
				<td class="rupiah-tunda-mabes" align="right">-</td>
				<td class="volume-tunda-ad" align="right">-</td>
				<td class="rupiah-tunda-ad" align="right">-</td>
				<td class="volume-tunda-al" align="right">-</td>
				<td class="rupiah-tunda-al" align="right">-</td>
				<td class="volume-tunda-au" align="right">-</td>
				<td class="rupiah-tunda-au" align="right">-</td>
				<td class="volume-tunda" align="right">-</td>
				<td class="rupiah-tunda" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td>c. Ditolak pembayaran untuk bulan ini</td>
				<td class="volume-tolak-kemhan" align="right">-</td>
				<td class="rupiah-tolak-kemhan" align="right">-</td>
				<td class="volume-tolak-mabes" align="right">-</td>
				<td class="rupiah-tolak-mabes" align="right">-</td>
				<td class="volume-tolak-ad" align="right">-</td>
				<td class="rupiah-tolak-ad" align="right">-</td>
				<td class="volume-tolak-al" align="right">-</td>
				<td class="rupiah-tolak-al" align="right">-</td>
				<td class="volume-tolak-au" align="right">-</td>
				<td class="rupiah-tolak-au" align="right">-</td>
				<td class="volume-tolak" align="right">-</td>
				<td class="rupiah-tolak" align="right">-</td>
			</tr>
			<tr>
				<td></td>
				<td align="right">Sub Jumlah (a-b-c)</td>
				<td class="volume-kemhan" align="right">-</td>
				<td class="rupiah-kemhan" align="right">-</td>
				<td class="volume-mabes" align="right">-</td>
				<td class="rupiah-mabes" align="right">-</td>
				<td class="volume-ad" align="right">-</td>
				<td class="rupiah-ad" align="right">-</td>
				<td class="volume-al" align="right">-</td>
				<td class="rupiah-al" align="right">-</td>
				<td class="volume-au" align="right">-</td>
				<td class="rupiah-au" align="right">-</td>
				<td class="volume" align="right">-</td>
				<td class="rupiah" align="right">-</td>
			</tr>
		</tbody>
	</table>
	<table width="100%">
		<tbody>
			<tr>
				<input type="hidden" class="511" name="targetUrl"	value="form_ganti_reff.html" />
				<input type="hidden" class="511" name="title"		value="Form Ganti Lokasi" />
				<input type="hidden" class="511" name="tc" 			value="511" />
				<input type="hidden" class="511" name="tdesc" />
				<input type="hidden" class="521" name="targetUrl"	value="form_ganti_reff.html" />
				<input type="hidden" class="521" name="title"		value="Form Ganti Tanggal" />
				<input type="hidden" class="521" name="tc" 			value="521" />
				<input type="hidden" class="521" name="tdesc" />
				<td colspan="3"></td>
				<td align="right">
					<span onclick="loadForm('511')" style="cursor: pointer" class="511">ENTRY LOKASI</span>, <span onclick="loadForm('521')" style="cursor: pointer" class="521">ENTRY TANGGAL</span>
				</td>
			</tr>
			<tr>
				<td colspan="4" align="center">MENGETAHUI / MEMBENARKAN</td>
			</tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			<input type="hidden" class="111" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="111" name="title"		value="Form Ganti Nama" />
			<input type="hidden" class="111" name="tc" 			value="111" />
			<input type="hidden" class="111" name="tdesc" />
			<input type="hidden" class="112" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="112" name="title"		value="Form Ganti Pangkat" />
			<input type="hidden" class="112" name="tc" 			value="112" />
			<input type="hidden" class="112" name="tdesc" />
			<input type="hidden" class="113" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="113" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="113" name="tc" 			value="113" />
			<input type="hidden" class="113" name="tdesc" />
			<input type="hidden" class="114" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="114" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="114" name="tc" 			value="114" />
			<input type="hidden" class="114" name="tdesc" />
			<input type="hidden" class="121" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="121" name="title"		value="Form Ganti Nama" />
			<input type="hidden" class="121" name="tc" 			value="121" />
			<input type="hidden" class="121" name="tdesc" />
			<input type="hidden" class="122" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="122" name="title"		value="Form Ganti Pangkat" />
			<input type="hidden" class="122" name="tc" 			value="122" />
			<input type="hidden" class="122" name="tdesc" />
			<input type="hidden" class="123" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="123" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="123" name="tc" 			value="123" />
			<input type="hidden" class="123" name="tdesc" />
			<input type="hidden" class="124" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="124" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="124" name="tc" 			value="124" />
			<input type="hidden" class="124" name="tdesc" />
			<input type="hidden" class="131" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="131" name="title"		value="Form Ganti Nama" />
			<input type="hidden" class="131" name="tc" 			value="131" />
			<input type="hidden" class="131" name="tdesc" />
			<input type="hidden" class="132" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="132" name="title"		value="Form Ganti Pangkat" />
			<input type="hidden" class="132" name="tc" 			value="132" />
			<input type="hidden" class="132" name="tdesc" />
			<input type="hidden" class="133" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="133" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="133" name="tc" 			value="133" />
			<input type="hidden" class="133" name="tdesc" />
			<input type="hidden" class="134" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="134" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="134" name="tc" 			value="134" />
			<input type="hidden" class="134" name="tdesc" />
			<input type="hidden" class="141" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="141" name="title"		value="Form Ganti Nama" />
			<input type="hidden" class="141" name="tc" 			value="141" />
			<input type="hidden" class="141" name="tdesc" />
			<input type="hidden" class="142" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="142" name="title"		value="Form Ganti Pangkat" />
			<input type="hidden" class="142" name="tc" 			value="142" />
			<input type="hidden" class="142" name="tdesc" />
			<input type="hidden" class="143" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="143" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="143" name="tc" 			value="143" />
			<input type="hidden" class="143" name="tdesc" />
			<input type="hidden" class="144" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="144" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="144" name="tc" 			value="144" />
			<input type="hidden" class="144" name="tdesc" />
			<tr>
				<td align="center">
					<span onclick="loadForm('113')" class="113" style="cursor: pointer">ENTRY JABATAN 1</span>
					</br>
					<span onclick="loadForm('114')" class="114" style="cursor: pointer">ENTRY JABATAN 2</span>
				</td>
				<td align="center">
					<span onclick="loadForm('123')" class="123" style="cursor: pointer">ENTRY JABATAN 1</span>
					</br>
					<span onclick="loadForm('124')" class="124" style="cursor: pointer">ENTRY JABATAN 2</span>
				</td>
				<td align="center">
					<span onclick="loadForm('133')" class="133" style="cursor: pointer">ENTRY JABATAN 1</span>
					</br>
					<span onclick="loadForm('134')" class="134" style="cursor: pointer">ENTRY JABATAN 2</span>
				</td>
				<td align="center">
					<span onclick="loadForm('143')" class="143" style="cursor: pointer">ENTRY JABATAN 1</span>
					</br>
					<span onclick="loadForm('144')" class="144" style="cursor: pointer">ENTRY JABATAN 2</span>
				</td>
			</tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			<tr>
				<td align="center">
					<u><span onclick="loadForm('111')" class="111" style="cursor: pointer">ENTRY NAMA</span></u>
					</br>
					<span onclick="loadForm('112')" class="112" style="cursor: pointer">ENTRY PANGKAT</span>
				</td>
				<td align="center">
					<u><span onclick="loadForm('121')" class="121" style="cursor: pointer">ENTRY NAMA</span></u>
					</br>
					<span onclick="loadForm('122')" class="122" style="cursor: pointer">ENTRY PANGKAT</span>
				</td>
				<td align="center">
					<u><span onclick="loadForm('131')" class="131" style="cursor: pointer">ENTRY NAMA</span></u>
					</br>
					<span onclick="loadForm('132')" class="132" style="cursor: pointer">ENTRY PANGKAT</span>
				</td>
				<td align="center">
					<u><span onclick="loadForm('141')" class="141" style="cursor: pointer">H. RUDIE KUSMAYADI, BE, M.Si</span></u>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="clear-fix"></div>
<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "cetak_drd_rekap.js");
</script>