<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="table-responsive">
	<table width="100%">
		<thead>
			<tr>
				<td align="center" style="font-size: 12px; font-weight: bold">DAFTAR RINCIAN PENUNDAAN / PENOLAKAN ATAS TAGIHAN REKENING AIR MINUM</td>
			</tr>
			<tr>
				<td align="center" style="font-size: 14px; font-weight: bold">PEMAKAIAN DILINGKINGAN <span class="unit-organisasi">KEMENTRIAN PERTAHANAN DAN TNI</span></td>
			</tr>
			<tr>
				<td align="center" style="font-size: 12px; font-weight: bold">YANG DIAJUKAN DALAM BULAN <span class="bulan-tagihan">TAGIHAN</span></td>
			</tr>
			<tr>
				<td align="center">&nbsp;</td>
			</tr>
		</thead>
	</table>
	<table id="tabel-kemhan-cetak" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%" style="font-size: 12px">
		<thead>
			<tr style="font-weight: bold">
				<td rowspan="3" align="center" style="border-bottom: 0px">NO</td>
				<td rowspan="3" align="center" style="border-bottom: 0px">SATUAN PEMAKAI</td>
				<td rowspan="3" align="center" style="border-bottom: 0px">KOMDA PERPAMSI</td>
				<td rowspan="3" align="center" style="border-bottom: 0px">TAGIHAN BULAN SEBELUMNYA</td>
				<td colspan="6" align="center" style="border-bottom: 0px">TAGIHAN UNTUK BULAN :</td>
				<td rowspan="2" colspan="2" align="center" style="border-bottom: 0px">JUMLAH TAGIHAN</td>
				<td rowspan="3" align="center" style="border-bottom: 0px">KETERANGAN</td>
			</tr>
			<tr style="font-weight: bold">
				<td colspan="2" align="center" style="border-bottom: 0px"><span class="bulan-rekening-3">REKENING</span></td>
				<td colspan="2" align="center" style="border-bottom: 0px"><span class="bulan-rekening-2">REKENING</span></td>
				<td colspan="2" align="center" style="border-bottom: 0px"><span class="bulan-rekening-1">REKENING</span></td>
			</tr>
			<tr style="font-weight: bold">
				<td align="center" style="border-bottom: 0px">VOLUME</td>
				<td align="center" style="border-bottom: 0px">RUPIAH</td>
				<td align="center" style="border-bottom: 0px">VOLUME</td>
				<td align="center" style="border-bottom: 0px">RUPIAH</td>
				<td align="center" style="border-bottom: 0px">VOLUME</td>
				<td align="center" style="border-bottom: 0px">RUPIAH</td>
				<td align="center" style="border-bottom: 0px">VOLUME</td>
				<td align="center" style="border-bottom: 0px">RUPIAH</td>
			</tr>
			<tr style="font-weight: bold">
				<td align="center" style="border-bottom: 0px">1</td>
				<td align="center" style="border-bottom: 0px">2</td>
				<td align="center" style="border-bottom: 0px">3</td>
				<td align="center" style="border-bottom: 0px">4</td>
				<td align="center" style="border-bottom: 0px">5</td>
				<td align="center" style="border-bottom: 0px">6</td>
				<td align="center" style="border-bottom: 0px">7</td>
				<td align="center" style="border-bottom: 0px">8</td>
				<td align="center" style="border-bottom: 0px">9</td>
				<td align="center" style="border-bottom: 0px">10</td>
				<td align="center" style="border-bottom: 0px">11</td>
				<td align="center" style="border-bottom: 0px">12=(6+8+10)</td>
				<td align="center" style="border-bottom: 0px">13=(5+7+9+11)</td>
			</tr>
		</thead>
		<tbody></tbody>
		<tfoot>
			<tr style="font-weight: bold">
				<td align="center" colspan="3">JUMLAH SELURUHNYA</td>
				<td align="right"><span class="rekening"></span></td>
				<td align="right"><span class="klarifikasi"></span></td>
				<td align="right"><span class="volume05"></span></td>
				<td align="right"><span class="rupiah05"></span></td>
				<td align="right"><span class="volume01"></span></td>
				<td align="right"><span class="rupiah01"></span></td>
				<td align="right"><span class="volume00"></span></td>
				<td align="right"><span class="rupiah00"></span></td>
				<td align="right"><span class="volume"></span></td>
				<td align="right"><span class="rupiah"></span></td>
			</tr>
		</tfoot>
	</table>
	<table width="100%" style="font-size: 12px">
		<tbody>
			<tr>
				<td colspan="5" style="font-weight: bold"><u>KETERANGAN :</u></td>
			</tr>
			<tr>
				<input type="hidden" class="511" name="targetUrl"	value="form_ganti_reff.html" />
				<input type="hidden" class="511" name="title"		value="Form Ganti Lokasi" />
				<input type="hidden" class="511" name="tc" 			value="511" />
				<input type="hidden" class="511" name="tdesc" />
				<input type="hidden" class="521" name="targetUrl"	value="form_ganti_reff.html" />
				<input type="hidden" class="521" name="title"		value="Form Ganti Tanggal" />
				<input type="hidden" class="521" name="tc" 			value="521" />
				<input type="hidden" class="521" name="tdesc" />
				<td width="15px">L</td>
				<td colspan="2">= LUNAS</td>
				<td align="right" colspan="2">
					<span onclick="loadForm('511')" style="cursor: pointer" class="511">ENTRY LOKASI</span>, <span onclick="loadForm('521')" style="cursor: pointer" class="521">ENTRY TANGGAL</span>
				</td>
			</tr>
			<tr>
				<td width="15px">BM</td>
				<td colspan="4">= BELUM MASUK</td>
			</tr>
			<tr>
				<td colspan="5" align="center" style="font-weight: bold"><u>MENGETAHUI / MEMBENARKAN :</u></td>
			</tr>
			<tr><td colspan="5">&nbsp;</td></tr>
			<input type="hidden" class="111" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="111" name="title"		value="Form Ganti Nama" />
			<input type="hidden" class="111" name="tc" 			value="111" />
			<input type="hidden" class="111" name="tdesc" />
			<input type="hidden" class="112" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="112" name="title"		value="Form Ganti Pangkat" />
			<input type="hidden" class="112" name="tc" 			value="112" />
			<input type="hidden" class="112" name="tdesc" />
			<input type="hidden" class="113" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="113" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="113" name="tc" 			value="113" />
			<input type="hidden" class="113" name="tdesc" />
			<input type="hidden" class="114" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="114" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="114" name="tc" 			value="114" />
			<input type="hidden" class="114" name="tdesc" />
			<input type="hidden" class="121" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="121" name="title"		value="Form Ganti Nama" />
			<input type="hidden" class="121" name="tc" 			value="121" />
			<input type="hidden" class="121" name="tdesc" />
			<input type="hidden" class="122" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="122" name="title"		value="Form Ganti Pangkat" />
			<input type="hidden" class="122" name="tc" 			value="122" />
			<input type="hidden" class="122" name="tdesc" />
			<input type="hidden" class="123" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="123" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="123" name="tc" 			value="123" />
			<input type="hidden" class="123" name="tdesc" />
			<input type="hidden" class="124" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="124" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="124" name="tc" 			value="124" />
			<input type="hidden" class="124" name="tdesc" />
			<input type="hidden" class="131" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="131" name="title"		value="Form Ganti Nama" />
			<input type="hidden" class="131" name="tc" 			value="131" />
			<input type="hidden" class="131" name="tdesc" />
			<input type="hidden" class="132" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="132" name="title"		value="Form Ganti Pangkat" />
			<input type="hidden" class="132" name="tc" 			value="132" />
			<input type="hidden" class="132" name="tdesc" />
			<input type="hidden" class="133" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="133" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="133" name="tc" 			value="133" />
			<input type="hidden" class="133" name="tdesc" />
			<input type="hidden" class="134" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="134" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="134" name="tc" 			value="134" />
			<input type="hidden" class="134" name="tdesc" />
			<input type="hidden" class="141" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="141" name="title"		value="Form Ganti Nama" />
			<input type="hidden" class="141" name="tc" 			value="141" />
			<input type="hidden" class="141" name="tdesc" />
			<input type="hidden" class="142" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="142" name="title"		value="Form Ganti Pangkat" />
			<input type="hidden" class="142" name="tc" 			value="142" />
			<input type="hidden" class="142" name="tdesc" />
			<input type="hidden" class="143" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="143" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="143" name="tc" 			value="143" />
			<input type="hidden" class="143" name="tdesc" />
			<input type="hidden" class="144" name="targetUrl"	value="form_ganti_reff.html" />
			<input type="hidden" class="144" name="title"		value="Form Ganti Jabatan" />
			<input type="hidden" class="144" name="tc" 			value="144" />
			<input type="hidden" class="144" name="tdesc" />
			<tr>
				<td align="center" width="25%" colspan="2">
					<span onclick="loadForm('113')" class="113" style="cursor: pointer">ENTRY JABATAN 1</span>
					</br>
					<span onclick="loadForm('114')" class="114" style="cursor: pointer">ENTRY JABATAN 2</span>
				</td>
				<td align="center" width="25%">
					<span onclick="loadForm('123')" class="123" style="cursor: pointer">ENTRY JABATAN 1</span>
					</br>
					<span onclick="loadForm('124')" class="124" style="cursor: pointer">ENTRY JABATAN 2</span>
				</td>
				<td align="center" width="25%">
					<span onclick="loadForm('133')" class="133" style="cursor: pointer">ENTRY JABATAN 1</span>
					</br>
					<span onclick="loadForm('134')" class="134" style="cursor: pointer">ENTRY JABATAN 2</span>
				</td>
				<td align="center" width="25%">
					<span onclick="loadForm('143')" class="143" style="cursor: pointer">ENTRY JABATAN 1</span>
					</br>
					<span onclick="loadForm('144')" class="144" style="cursor: pointer">ENTRY JABATAN 2</span>
				</td>
			</tr>
			<tr><td colspan="5">&nbsp;</td></tr>
			<tr><td colspan="5">&nbsp;</td></tr>
			<tr><td colspan="5">&nbsp;</td></tr>
			<tr><td colspan="5">&nbsp;</td></tr>
			<tr><td colspan="5">&nbsp;</td></tr>
			<tr><td colspan="5">&nbsp;</td></tr>
			<tr>
				<td align="center" colspan="2">
					<u><span onclick="loadForm('111')" class="111" style="cursor: pointer">ENTRY NAMA</span></u>
					</br>
					<span onclick="loadForm('112')" class="112" style="cursor: pointer">ENTRY PANGKAT</span>
				</td>
				<td align="center">
					<u><span onclick="loadForm('121')" class="121" style="cursor: pointer">ENTRY NAMA</span></u>
					</br>
					<span onclick="loadForm('122')" class="122" style="cursor: pointer">ENTRY PANGKAT</span>
				</td>
				<td align="center">
					<u><span onclick="loadForm('131')" class="131" style="cursor: pointer">ENTRY NAMA</span></u>
					</br>
					<span onclick="loadForm('132')" class="132" style="cursor: pointer">ENTRY PANGKAT</span>
				</td>
				<td align="center">
					<u><span onclick="loadForm('141')" class="141" style="cursor: pointer">ENTRY NAMA</span></u>
					</br>
					<span onclick="loadForm('142')" class="142" style="cursor: pointer">ENTRY PANGKAT</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="clear-fix"></div>
<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "cetak_drd_tunda.js");
</script>
