<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="clear-fix"></div>
<div class="table-responsive">
	<table width="100%">
		<tr>
			<td width="70px">Nomor</td>
			<td colspan="2">02.</td>
			<td colspan="2" align="right">Oktober 2014</td>
			<td width="100px">&nbsp;</td>
		</tr>
		<tr>
			<td>Lampiran</td>
			<td colspan="5">5 ( lima ) berkas.</td>
		</tr>
		<tr>
			<td>Perihal</td>
			<td colspan="5">Permohonan pembayaran tagihan</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="5">rekening air minum terpusat</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="5">Pemakaian Kemhan / TNI.</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">Kepada Yth :</td>
		</tr>
		<tr>
			<td colspan="6"><b><i>Bapak DIREKTUR JENDERAL</i></b></td>
		</tr>
		<tr>
			<td colspan="6"><b><i>PERENCANAAN PERTAHANAN</i></b></td>
		</tr>
		<tr>
			<td colspan="6"><b><i>KEMENTERIAN PERTAHANAN R.I.</i></b></td>
		</tr>
		<tr>
			<td>DI -</td>
			<td colspan="5">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; JAKARTA PUSAT</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6"><u><b>Up. Bapak Direktur MINLAKGAR</b></u></td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">1. Bersama surat ini kami sampaikan 5 ( Lima ) berkas Berita Acara hasil Pencocokan dan Penelitian tagihan rekening air minum pemakaian terpusat Kementerian Pertahanan yang kami adakan pada tanggal <b>2.. - 2.. Oktober 2014</b> untuk pemakaian <b>bulan September 2014 serta susulan bulan Juli dan Agustus 2014.</b></td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">Adapun jumlah seluruh tagihan hasil coklit tersebut yang telah disetujui untuk dibayar adalah sebagai berikut :</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">a) Tagihan pemakaian KEMHAN, adalah</td>
			<td align="right">20,539</td>
			<td>&nbsp;&nbsp; M3, sebesar Rp.</td>
			<td align="right">202,130,000</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">b) Tagihan pemakaian MABES TNI, adalah</td>
			<td align="right">48,526</td>
			<td>&nbsp;&nbsp; M3, sebesar Rp.</td>
			<td align="right">369,030,000</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">c) Tagihan pemakaian TNI AD, adalah</td>
			<td align="right">2,278,770</td>
			<td>&nbsp;&nbsp; M3, sebesar Rp.</td>
			<td align="right">-</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">d) Tagihan pemakaian TNI AL, adalah</td>
			<td align="right">363,019</td>
			<td>&nbsp;&nbsp; M3, sebesar Rp.</td>
			<td align="right">-</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">e) Tagihan pemakaian TNI AU, adalah</td>
			<td align="right">195,948</td>
			<td>&nbsp;&nbsp; M3, sebesar Rp.</td>
			<td align="right">-</td>
			<td>&nbsp;</td>
		</tr>
		<tr style="font-weight: bold">
			<td align="center" colspan="2">Jumlah Seluruhnya, adalah</td>
			<td style="border-top: 1px solid #000;border-bottom: 1px solid #000" align="right">2,906,802</td>
			<td style="border-top: 1px solid #000;border-bottom: 1px solid #000">&nbsp;&nbsp; M3, sebesar Rp.</td>
			<td style="border-top: 1px solid #000;border-bottom: 1px solid #000" align="right">517,160,000</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">Daftar rekapitulasi tagihan per-unit Organisasi Angkatan <u>terlampir.</u></td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">2. Selanjutnya sambil menunggu penyelesaian Surat Persetujuan Pembayaran Regularisasi (SPPG) dari KADISKU ANGKATAN dan PUSPU TNI, kami mohon kiranya tagihan tersebut dapat diproses lebih lanjut pembayarannya.</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">3. Pembayaran tagihan tersebut sangat diharapkan oleh PDAM Daerah, karena anggaran PDAM bersifat OTONOM BUDGET dan untuk menjaga kontinuitas pelayanan kepada masyarakat, kami mohon agar tagihan rekening air minum adalah <b>2,906,802 M3, sebesar Rp. 571,160,000</b> (....................................................rupiah) tersebut kiranya dapat diselesaikan dan dipindah bukukan langsung ke rekening PERPAMSI pada PT ( Persero ) Bank BNI Cabang Senayan - Jakarta dengan Nomor Rekening : 4454406.</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">Demikian permohonan kami, atas perhatian dan bantuan Bapak sebelumnya kami ucapkan terima kasih.</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
			<td colspan="3" align="center">An. DEWAN PENGURUS PUSAT PERPAMSI</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
			<td colspan="3" align="center">Direktur Eksekutif</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
			<td colspan="3" align="center"><u>DR. SUBEKTI, SE, MM</u></td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">Tembusan :</td>
		</tr>
		<tr>
			<td colspan="6">1. Bpk. KAPUSKU KEMHAN</td>
		</tr>
		<tr>
			<td colspan="6">2. Bpk. Direktur Perbendaharaan Anggaran Kementerian Keuangan</td>
		</tr>
		<tr>
			<td colspan="6">3. Para Ketua Dewan Pengurus Daerah PERPAMSI Seluruh Indonesia</td>
		</tr>
		<tr>
			<td colspan="6">4. Arsip</td>
		</tr>
	</table>
</div>
<div class="clear-fix"></div>
<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="clear-fix"></div>
