<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="clear-fix"></div>
<table class="dataTable_print">
  <tr>
	<td colspan="11" align="center" style="font-size: 14px; font-weight: bold;"><b>BERITA ACARA</b></td>
  </tr>
  <tr>
	<td colspan="11" align="center" style="font-weight: bold;"><b>HASIL COKLIT TAGIHAN REKENING AIR MINUM BULAN <span class="bulan-tagihan">TAGIHAN</span></b></td>
  </tr>
  <tr>
	<td colspan="11" align="center" style="font-weight: bold;"><b>KEMENTERIAN PERTAHANAN DAN TNI</b></td>
  </tr>
  <tr>
	<td colspan="11" align="center" style="font-weight: bold;"><b>PEMAKAIAN BULAN <span class="bulan-rekening-1">REKENING</span></b></td>
  </tr>
  <tr>
	<td colspan="11" align="center" style="font-weight: bold;"><b>SERTA SUSULAN BULAN <span class="bulan-rekening-2">LALU</span> DAN <span class="bulan-rekening-3">LALU</span></b></td>
  </tr>
  <tr>
	<input type="hidden" class="011" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="011" name="title"		value="Form Ganti Nomor" />
	<input type="hidden" class="011" name="tc" 			value="011" />
	<input type="hidden" class="011" name="tdesc" />
	<td colspan="11" align="center" onclick="loadForm('011')" style="cursor: pointer; font-weight: bold;">NOMOR : <span class="011">ENTRY NOMOR</span></td>
  </tr>
  <tr>
	<td colspan="11"><hr></td>
  </tr>
  <tr>
	<td valign="top" align="right">1.</td>
	<td></td>
	<input type="hidden" class="012" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="012" name="title"		value="Form Ganti Hari" />
	<input type="hidden" class="012" name="tc" 			value="012" />
	<input type="hidden" class="012" name="tdesc" />
	<input type="hidden" class="013" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="013" name="title"		value="Form Ganti Tanggal" />
	<input type="hidden" class="013" name="tc" 			value="013" />
	<input type="hidden" class="013" name="tdesc" />
	<td colspan="9" style="text-align: justify;">
		Pada hari <span onclick="loadForm('012')" style="cursor: pointer; font-weight: bold;" class="012">ENTRY HARI</span>, tanggal <i><span onclick="loadForm('013')" style="cursor: pointer; font-weight: bold;" class="013">ENTRY TANGGAL</span></i>, Tim pencocokan dan penelitian (coklit) yang terdiri dari Staff Ditjen Renhan Kemhan, Ditjen Kuathan Kemhan, Badan Keuangan Kemhan dan TNI,Pembina  Fungsi Teknis Mabes TNI, TNI AD, TNI AL, TNI AU dan Perpamsi, telah mengadakan pencocokan dan penelitian (Coklit) terhadap pengajuan tagihan rekening air minum yang di pakai <i><b>UO Kemhan, Mabes TNI, TNI AD, TNI AL, TNI AU</b></i> dan hasilnya di tuangkan ke dalam BA masing masing UO, berdasarkan BA tersebut di buat rekapitulasi BA Hasil Coklit yang ditandatangani pejabat di bawah ini :
	</td>
  </tr>
  <tr>
	<td></td>
	<td align="right" valign="top">a.</td>
	<input type="hidden" class="111" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="111" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="111" name="tc" 			value="111" />
	<input type="hidden" class="111" name="tdesc" />
	<input type="hidden" class="112" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="112" name="title"		value="Form Ganti Pangkat" />
	<input type="hidden" class="112" name="tc" 			value="112" />
	<input type="hidden" class="112" name="tdesc" />
	<input type="hidden" class="113" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="113" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="113" name="tc" 			value="113" />
	<input type="hidden" class="113" name="tdesc" />
	<input type="hidden" class="114" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="114" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="114" name="tc" 			value="114" />
	<input type="hidden" class="114" name="tdesc" />
	<td colspan="2" style="cursor: pointer;">
		<u><span onclick="loadForm('111')" class="111">ENTRY NAMA</span></u>
	</td>
	<td>:</td>
	<td colspan="6" style="cursor: pointer;">
		<span onclick="loadForm('113')" class="113">ENTRY JABATAN 1</span>
	</td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td colspan="3" style="cursor: pointer;">
		<span onclick="loadForm('112')" class="112">ENTRY PANGKAT</span>
	</td>
	<td colspan="6" style="cursor: pointer;">
		<span onclick="loadForm('114')" class="114">ENTRY JABATAN 2</span>
	</td>
  </tr>
  <tr>
	<td></td>
	<td align="right" valign="top">b.</td>
	<input type="hidden" class="121" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="121" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="121" name="tc" 			value="121" />
	<input type="hidden" class="121" name="tdesc" />
	<input type="hidden" class="122" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="122" name="title"		value="Form Ganti Pangkat" />
	<input type="hidden" class="122" name="tc" 			value="122" />
	<input type="hidden" class="122" name="tdesc" />
	<input type="hidden" class="123" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="123" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="123" name="tc" 			value="123" />
	<input type="hidden" class="123" name="tdesc" />
	<input type="hidden" class="124" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="124" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="124" name="tc" 			value="124" />
	<input type="hidden" class="124" name="tdesc" />
	<td colspan="2" style="cursor: pointer;">
		<u><span onclick="loadForm('121')" class="121">ENTRY NAMA</span></u>
	</td>
	<td>:</td>
	<td colspan="6" style="cursor: pointer;">
		<span onclick="loadForm('123')" class="123">ENTRY JABATAN 1</span>
	</td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td colspan="3" style="cursor: pointer;">
		<span onclick="loadForm('122')" class="122">ENTRY PANGKAT</span>
	</td>
	<td colspan="6" style="cursor: pointer;">
		<span onclick="loadForm('124')" class="124">ENTRY JABATAN 2</span>
	</td>
  </tr>
  <tr>
	<td></td>
	<td align="right" valign="top">c.</td>
	<input type="hidden" class="131" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="131" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="131" name="tc" 			value="131" />
	<input type="hidden" class="131" name="tdesc" />
	<input type="hidden" class="132" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="132" name="title"		value="Form Ganti Pangkat" />
	<input type="hidden" class="132" name="tc" 			value="132" />
	<input type="hidden" class="132" name="tdesc" />
	<input type="hidden" class="133" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="133" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="133" name="tc" 			value="133" />
	<input type="hidden" class="133" name="tdesc" />
	<input type="hidden" class="134" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="134" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="134" name="tc" 			value="134" />
	<input type="hidden" class="134" name="tdesc" />
	<td colspan="2" style="cursor: pointer;">
		<u><span onclick="loadForm('131')" class="131">ENTRY NAMA</span></u>
	</td>
	<td>:</td>
	<td colspan="6" style="cursor: pointer;">
		<span onclick="loadForm('133')" class="133">ENTRY JABATAN 1</span>
	</td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td colspan="3" style="cursor: pointer;">
		<span onclick="loadForm('132')" class="132">ENTRY PANGKAT</span>
	</td>
	<td colspan="6" style="cursor: pointer;">
		<span onclick="loadForm('134')" class="134">ENTRY JABATAN 2</span>
	</td>
  </tr>
  <tr>
	<td></td>
	<td align="right" valign="top">c.</td>
	<input type="hidden" class="141" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="141" name="title"		value="Form Ganti Nama" />
	<input type="hidden" class="141" name="tc" 			value="141" />
	<input type="hidden" class="141" name="tdesc" />
	<input type="hidden" class="142" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="142" name="title"		value="Form Ganti Pangkat" />
	<input type="hidden" class="142" name="tc" 			value="142" />
	<input type="hidden" class="142" name="tdesc" />
	<input type="hidden" class="143" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="143" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="143" name="tc" 			value="143" />
	<input type="hidden" class="143" name="tdesc" />
	<input type="hidden" class="144" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="144" name="title"		value="Form Ganti Jabatan" />
	<input type="hidden" class="144" name="tc" 			value="144" />
	<input type="hidden" class="144" name="tdesc" />
	<td colspan="2" style="cursor: pointer;">
		<u><span onclick="loadForm('141')" class="141">ENTRY NAMA</span></u>
	</td>
	<td>:</td>
	<td colspan="6" style="cursor: pointer;">
		<span onclick="loadForm('143')" class="143">ENTRY JABATAN 1</span>
	</td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td colspan="3" style="cursor: pointer;">
		<span onclick="loadForm('142')" class="142">ENTRY PANGKAT</span>
	</td>
	<td colspan="6" style="cursor: pointer;">
		<span onclick="loadForm('144')" class="144">ENTRY JABATAN 2</span>
	</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11">
		Hasil pencocokan dan penelitian (coklit) atas tagihan air minum bulan <i><span class="bulan-rekening-1" style="font-weight: bold;"></span> serta susulan bulan <span class="bulan-rekening-2" style="font-weight: bold;"></span> dan <span class="bulan-rekening-3" style="font-weight: bold;"></span></i> seperti tercantum dibawah ini :
	</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
	<td align="right"><b>2.</b></td>
	<td></td>
	<td colspan="9"><b>DASAR</b></td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">a.</td>
	<input type="hidden" class="211" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="211" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="211" name="tc" 			value="211" />
	<input type="hidden" class="211" name="tdesc" 		value="Peraturan Bersama Menteri Keuangan Republik Indonesia dan Menteri Pertahanan Republik Indonesia Nomor : 67/PMK/05/2013 dan Nomor 15 Tahun 2013, tanggal 27 Maret 2013, tentang : Mekanisme Pelaksanaan Anggaran dan Belanja Negara dilingkungan Kementerian Pertahanan dan Tentara Nasional Indonesia">
	<td colspan="9" onclick="loadForm('211')" style="cursor: pointer; text-align: justify;">
		<span class="211">
			Peraturan Bersama Menteri Keuangan Republik Indonesia dan Menteri Pertahanan Republik Indonesia Nomor : 67/PMK/05/2013 dan Nomor 15 Tahun 2013, tanggal 27 Maret 2013, tentang : Mekanisme Pelaksanaan Anggaran dan Belanja Negara dilingkungan Kementerian Pertahanan dan Tentara Nasional Indonesia
		</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">b.</td>
	<input type="hidden" class="221" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="221" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="221" name="tc" 			value="221" />
	<input type="hidden" class="221" name="tdesc" 		value="Keputusan Menteri Pertahanan Nomor : KEP/810/XI/2010 tanggal 12 Nopember 2010 tentang Pelayanan Daya dan Jasa Listrik, Gas dan Air Minum di Lingkungan KEMHAN dan TNI.">
	<td colspan="9" onclick="loadForm('221')" style="cursor: pointer; text-align: justify;">
		<span class="221">
			Keputusan Menteri Pertahanan Nomor : KEP/810/XI/2010 tanggal 12 Nopember 2010 tentang Pelayanan Daya dan Jasa Listrik, Gas dan Air Minum di Lingkungan KEMHAN dan TNI.
		</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">c.</td>
	<input type="hidden" class="231" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="231" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="231" name="tc" 			value="231" />
	<input type="hidden" class="231" name="tdesc" 		value="Nota Kesepahaman (Memorandum of Understanding) antara KEMHAN dengan PERPAMSI Nomor : MoU/08/VI/2012 dan 010/MoU/VI/2012, tanggal 8 Juni 2012.">
	<td colspan="9" onclick="loadForm('231')" style="cursor: pointer; text-align: justify;">
		<span class="231">
			Nota Kesepahaman (Memorandum of Understanding) antara KEMHAN dengan PERPAMSI Nomor : MoU/08/VI/2012 dan 010/MoU/VI/2012, tanggal 8 Juni 2012.
		</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">d.</td>
	<input type="hidden" class="241" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="241" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="241" name="tc" 			value="241" />
	<input type="hidden" class="241" name="tdesc" 		value="Perjanjian Kerjasama antara KEMHAN  dengan  PERPAMSI Nomor :  PKS/01/VI/2012  dan  011/KJB/VI/2012, tanggal 8 Juni 2012 tentang Penggunaan, Penagihan dan Pembayaran Air Minum KEMHAN dan TNI.">
	<td colspan="9" onclick="loadForm('241')" style="cursor: pointer; text-align: justify;">
		<span class="241">
			Perjanjian Kerjasama antara KEMHAN  dengan  PERPAMSI Nomor :  PKS/01/VI/2012  dan  011/KJB/VI/2012, tanggal 8 Juni 2012 tentang Penggunaan, Penagihan dan Pembayaran Air Minum KEMHAN dan TNI.
		</span>
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">e.</td>
	<input type="hidden" class="251" name="targetUrl"	value="form_ganti_dasar.html" />
	<input type="hidden" class="251" name="title"		value="Form Ganti Dasar Hukum" />
	<input type="hidden" class="251" name="tc" 			value="251" />
	<input type="hidden" class="251" name="tdesc" 		value="Petunjuk  Pelaksanaan  Dirjen  Renhan Kemhan Nomor  :  Juklak/34/XII/2009/DJREN,  tanggal 18 Desember 2009 tentang Prosedur Administrasi Pencocokan dan Penelitian serta Pembayaran Anggaran Terpusat LTGA di Lingkungan Kementerian Pertahanan.">
	<td colspan="9" onclick="loadForm('251')" style="cursor: pointer; text-align: justify;">
		<span class="251">
			Petunjuk  Pelaksanaan  Dirjen  Renhan Kemhan Nomor  :  Juklak/34/XII/2009/DJREN,  tanggal 18 Desember 2009 tentang Prosedur Administrasi Pencocokan dan Penelitian serta Pembayaran Anggaran Terpusat LTGA di Lingkungan Kementerian Pertahanan.
		</span>
	</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td align="right"><b>3.</b></td>
	<td></td>
	<td colspan="8"><b>PELAKSANAAN</b></td>
  </tr>
  <tr>
	<td colspan="2" align="right">a.</td>
	<td colspan="8"><b>Pengajuan Tagihan atas Tagihan Hasil Klarifikasi :</b></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>a.1.</td>
	<td>Unit Organisasi Kemhan TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diklarifikasi-kemhan">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diklarifikasi-kemhan">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>a.2.</td>
	<td>Unit Organisasi Mabes TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diklarifikasi-mabes">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diklarifikasi-mabes">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>a.3.</td>
	<td>Unit Organisasi TNI AD</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diklarifikasi-ad">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diklarifikasi-ad">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>a.4.</td>
	<td>Unit Organisasi TNI AL</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diklarifikasi-al">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diklarifikasi-al">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>a.5.</td>
	<td>Unit Organisasi TNI AU</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diklarifikasi-au">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diklarifikasi-au">-</span></td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td align="right">Jumlah</td>
	<td></td>
	<td>Volume</td>
	<td align="right"><span class="volume-diklarifikasi-total">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diklarifikasi-total">-</span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"><b>b.</b></td>
	<td colspan="8"><b>Pengajuan Tagihan atas Tagihan Bulan Berjalan :</b></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>b.1.</td>
	<td>Unit Organisasi Kemhan TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diajukan-kemhan">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diajukan-kemhan">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>b.2.</td>
	<td>Unit Organisasi Mabes TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diajukan-mabes">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diajukan-mabes">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>b.3.</td>
	<td>Unit Organisasi TNI AD</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diajukan-ad">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diajukan-ad">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>b.4.</td>
	<td>Unit Organisasi TNI AL</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diajukan-al">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diajukan-al">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>b.5.</td>
	<td>Unit Organisasi TNI AU</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-diajukan-au">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diajukan-au">-</span></td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td align="right">Jumlah</td>
	<td></td>
	<td>Volume</td>
	<td align="right"><span class="volume-diajukan-total">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-diajukan-total">-</span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"><b>c.</b></td>
	<td colspan="8"><b>Penundaan Pembayaran atas Tagihan yang Diajukan :</b></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>c.1.</td>
	<td>Unit Organisasi Kemhan TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditunda-kemhan">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditunda-kemhan">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>c.2.</td>
	<td>Unit Organisasi Mabes TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditunda-mabes">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditunda-mabes">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>c.3.</td>
	<td>Unit Organisasi TNI AD</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditunda-ad">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditunda-ad">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>c.4.</td>
	<td>Unit Organisasi TNI AL</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditunda-al">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditunda-al">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>c.5.</td>
	<td>Unit Organisasi TNI AU</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditunda-au">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditunda-au">-</span></td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td align="right">Jumlah</td>
	<td></td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditunda-total">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditunda-total">-</span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"><b>d.</b></td>
	<td colspan="8"><b>Penolakan Pembayaran atas Tagihan yang Diajukan :</b></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>d.1.</td>
	<td>Unit Organisasi Kemhan TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditolak-kemhan">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditolak-kemhan">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>d.2.</td>
	<td>Unit Organisasi Mabes TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditolak-mabes">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditolak-mabes">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>d.3.</td>
	<td>Unit Organisasi TNI AD</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditolak-ad">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditolak-ad">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>d.4.</td>
	<td>Unit Organisasi TNI AL</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditolak-al">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditolak-al">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>d.5.</td>
	<td>Unit Organisasi TNI AU</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditolak-au">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditolak-au">-</span></td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td align="right">Jumlah</td>
	<td></td>
	<td>Volume</td>
	<td align="right"><span class="volume-ditolak-total">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-ditolak-total">-</span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"><b>e.</b></td>
	<td colspan="8"><b>Persetujuan Pembayaran atas Tagihan ( a + b ) - ( c + d ) : Setelah pembulatan</b></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>e.1.</td>
	<td>Unit Organisasi Kemhan TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-disetujui-kemhan">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-disetujui-kemhan">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>e.2.</td>
	<td>Unit Organisasi Mabes TNI</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-disetujui-mabes">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-disetujui-mabes">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>e.3.</td>
	<td>Unit Organisasi TNI AD</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-disetujui-ad">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-disetujui-ad">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>e.4.</td>
	<td>Unit Organisasi TNI AL</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-disetujui-al">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-disetujui-al">-</span></td>
  </tr>
  <tr>
	<td colspan="2"></td>
	<td>e.5.</td>
	<td>Unit Organisasi TNI AU</td>
	<td>:</td>
	<td>Volume</td>
	<td align="right"><span class="volume-disetujui-au">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-disetujui-au">-</span></td>
  </tr>
  <tr>
	<td colspan="3"></td>
	<td align="right">Jumlah</td>
	<td></td>
	<td>Volume</td>
	<td align="right"><span class="volume-disetujui-total">-</span></td>
	<td>&nbsp; m3,</td>
	<td>sebesar Rp.</td>
	<td align="right"><span class="rupiah-disetujui-total">-</span></td>
  </tr>
  <tr>
	<td align="right" style="font-weight: bold;">4.</td>
	<td></td>
	<td colspan="8" style="font-weight: bold;">KESIMPULAN</td>
  </tr>
  <tr>
	<td colspan="11">
		Jumlah seluruh  tagihan  pemakaian  air  minum  KEMHAN  dan TNI yang diajukan Perpamsi untuk bulan <span style="font-weight: bold;" class="bulan-rekening-1"></span> serta susulan bulan <span style="font-weight: bold;" class="bulan-rekening-2"></span> dan <span style="font-weight: bold;" class="bulan-rekening-3"></span></b> sesuai  hasil  pencocokan dan penelitian (Coklit) terlampir, telah disetujui untuk diajukan penagihan / penyelesaiannya ke KPPN Kementerian Keuangan Republik Indonesia adalah :
	</td>
  </tr>
  <tr>
	<td colspan="2" align="right">a.</td>
	<td colspan="2">Volume pemakaian</td>
	<td>:</td>
	<td><b><span class="volume-disetujui-total">-</span>&nbsp; m3</b></td>
  </tr>
  <tr>
	<td colspan="2" align="right">b.</td>
	<td colspan="2">Nilai pemakaian</td>
	<td>:</td>
	<td><b><span class="rupiah-disetujui-bulat">-</span></b></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td></td>
	<td colspan="11"><b>(<span class="string-pembulatan"></span>)</b></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td align="right">5.</td>
	<td></td>
	<td colspan="8">PENUTUP</td>
  </tr>
  <tr>
	<td colspan="11">Demikian Berita Acara hasil coklit tagihan rekening air minum dibuat, untuk diproses lebih lanjut.</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<input type="hidden" class="511" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="511" name="title"		value="Form Ganti Lokasi" />
	<input type="hidden" class="511" name="tc" 			value="511" />
	<input type="hidden" class="511" name="tdesc" />
	<input type="hidden" class="521" name="targetUrl"	value="form_ganti_reff.html" />
	<input type="hidden" class="521" name="title"		value="Form Ganti Tanggal" />
	<input type="hidden" class="521" name="tc" 			value="521" />
	<input type="hidden" class="521" name="tdesc" />
	<td colspan="11" align="right">
		<span onclick="loadForm('511')" style="cursor: pointer; font-weight: bold;" class="511">ENTRY LOKASI</span>, <span onclick="loadForm('521')" style="cursor: pointer; font-weight: bold;" class="521">ENTRY TANGGAL</span>
	</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11" align="center"><b>PEJABAT PEMBINA FUNGSI TEKNIS, ANGGARAN, KEUANGAN KEMHAN DAN TNI SERTA DPP PERPAMSI</b></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">a.</td>
	<td colspan="2" width="200" valign="top"><u><span class="111"></span></u></td>
	<td colspan="7" rowspan="3" valign="top"><span class="113"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" valign="top"><span class="112"></span></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10" align="right">_______________________</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">b.</td>
	<td colspan="2" width="200" valign="top"><u><span class="121"></span></u></td>
	<td colspan="7" rowspan="3" valign="top"><span class="123"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" valign="top"><span class="122"></span></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10" align="right">_______________________</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">c.</td>
	<td colspan="2" width="200" valign="top"><u><span class="131"></span></u></td>
	<td colspan="7" rowspan="3" valign="top"><span class="133"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" valign="top"><span class="132"></span></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10" align="right">_______________________</td>
  </tr>
  <tr>
	<td colspan="2" align="right" valign="top">d.</td>
	<td colspan="2" width="200" valign="top"><u><span class="141"></span></u></td>
	<td colspan="7" rowspan="3" valign="top"><span class="143"></span></td>
  </tr>
  <tr>
	<td colspan="2" align="right"></td>
	<td colspan="2" valign="top"><span class="142"></span></td>
	<td colspan="7"></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="10" align="right">_______________________</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11" align="center"><u>MENGETAHUI :</u></td>
  </tr>
  <tr>
	<td colspan="11" align="center">DEWAN PENGURUS PUSAT PERPAMSI</td>
  </tr>
  <tr>
	<td colspan="11" align="center">Ketua Umum,</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td colspan="11" align="center"><b><u>RUDIE KUSMAYADI, BE M.Si</u></b></td>
  </tr>
  </table>
  
<div class="clear-fix"></div>
<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "cetak_ba_rekap.js");
</script>
