<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title"></h4>
		</div>
		<div class="modal-body">
			<div id="pesan" class="hidden">
				<div role="alert"></div>
			</div><!-- standar penulisan untuk return message -->
			<form class="form-horizontal" onsubmit="return false;">
				<div class="form-group">
					<div class="col-sm-12">
						<textarea class="form-control simpan" rows="3" name="tdesc"></textarea>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<div class="btn-group">
				<button id="button-tutup" type="button" class="btn btn-sm btn-info"><i class="fa fa-times"></i> Close</button>
				<button id="button-simpan" 	type="button" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
			</div>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "form_ganti_dasar.js");
</script>
