<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="table-responsive">
	<table width="100%">
		<thead>
			<tr>
				<td align="center" style="font-size: 12px; font-weight: bold">DAFTAR POTONGAN TAGIHAN REKENING AIR MINUM</td>
			</tr>
			<tr>
				<td align="center" style="font-size: 12px; font-weight: bold">PEMAKAIAN KEMHAN & TNI</td>
			</tr>
			<tr>
				<td align="center" style="font-size: 12px; font-weight: bold"><u>YANG DIAJUKAN DALAM BULAN PEBRUARI 2015</u></td>
			</tr>
			<tr>
				<td align="center">&nbsp;</td>
			</tr>
		</thead>
	</table>
	<table id="tabel-pdam-potongan" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%" style="font-size: 12px">
		<thead>
			<tr style="font-weight: bold">
				<td rowspan="2" align="center">NO</td>
				<td rowspan="2" align="center">DPD PERPAMSI</td>
				<td rowspan="2" align="center">JUMLAH PEMBAYARAN</td>
				<td colspan="5" align="center">POTONGAN</td>
				<td rowspan="2" align="center">JUMLAH</td>
			</tr>
			<tr style="font-weight: bold">
				<td align="center">IURAN ( 4,5% )</td>
				<td align="center">IURAN ( 3% )</td>
				<td align="center">IURAN ANGGOTA</td>
				<td align="center">MAJALAH</td>
				<td align="center">LAIN-LAIN</td>
			</tr>
			<tr style="font-weight: bold">
				<td align="center">1</td>
				<td align="center">2</td>
				<td align="center">3</td>
				<td align="center">4</td>
				<td align="center">5</td>
				<td align="center">6</td>
				<td align="center">7</td>
				<td align="center">8</td>
				<td align="center">9 = 3 - (4+5+6+7+8)</td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table width="100%" style="font-size: 12px">
		<tbody>
			<tr>
				<td></td>
				<td width="300px">Jakarta, 25 Pebruari 2015</td>
			</tr>
			<tr>
				<td></td>
				<td>Kepala Urusan Tagihan Terpusat,</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td></td>
				<td><b><u>FAUZUL MUFID</u></b></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="clear-fix"></div>
<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
	<button class="btn btn-sm btn-info" onclick="window.print()">
		<i class="fa fa-print"></i> Cetak
	</button>
</div>
<div class="clear-fix"></div>
