<form class="form-inline" role="form" onsubmit="return false">
	<div class="dropdown form-group">
		<button class="btn btn-default dropdown-toggle" type="button" id="inputBulan" data-toggle="dropdown">
			Pilih Bulan <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="inputBulan">
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('01')">Januari</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('02')">Februari</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('03')">Maret</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('04')">April</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('05')">Mei</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('06')">Juni</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('07')">Juli</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('08')">Agustus</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('09')">September</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('10')">Oktober</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('11')">Nopember</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" onclick="pilihBulan('12')">Desember</a></li>
		</ul>
	</div>
	<div class="form-group">
		<input type="text" class="form-control" id="inputTahun" placeholder="Pilih Tahun" onchange="pilihTahun(this.value)" />
	</div>
</form>
<div class="clear-fix"></div>
<div class="table-responsive">
	<table id="tabel-kemhan-cetak" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Unit Organisasi</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Unit Organisasi</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
<div class="btn-group">
	<button class="btn btn-sm btn-info" onclick="loadFile('cetakPengantar')">
		<i class="fa fa-print"></i> Surat Pengantar
	</button>
	<button class="btn btn-sm btn-info" onclick="loadFile('cetakBASeluruh')">
		<i class="fa fa-print"></i> Berita Acara
	</button>
	<button class="btn btn-sm btn-info" onclick="loadFile('cetakDRDRekap')">
		<i class="fa fa-print"></i> Rekap Tagihan
	</button>
	<button class="btn btn-sm btn-info" onclick="loadFile('cetakDRDRinci')">
		<i class="fa fa-print"></i> Rinci Tagihan
	</button>
</div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_kemhan.js");
</script>
