<div class="block-title"><h2>Form Tambah PDAM</h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button id="button-selesai" class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<form class="form-horizontal" onsubmit="return false;">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Kode</label>
		<div class="col-sm-2">
			<input type="text"  name="pdam_kode" class="form-control" placeholder="Kode PDAM" required autofocus />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Nama</label>
		<div class="col-sm-4">
			<input type="text"  name="pdam_nama" class="form-control" placeholder="Nama PDAM" required />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Alamat</label>
		<div class="col-sm-5">
			<input type="text"  name="pdam_alamat" class="form-control" placeholder="Alamat Kantor" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Kota</label>
		<div class="col-sm-2">
			<input type="text"  name="pdam_kota" class="form-control" placeholder="Kota / Kabupaten"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Bank Transfer</label>
		<div class="col-sm-2">
			<input type="text"  name="pdam_bank" class="form-control" placeholder="Bank Transfer"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Account Transfer</label>
		<div class="col-sm-2">
			<input type="text"  name="pdam_an" class="form-control" placeholder="Account Transfer"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Rekening Transfer</label>
		<div class="col-sm-2">
			<input type="text"  name="pdam_no_rek" class="form-control" placeholder="Rekening Transfer"/>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3 btn-group">
			<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
			<button id="button-simpan" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
		</div>
	</div>
</form>
<div class="clear-fix" ></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "form_tambah_pdam.js");
</script>
