<div class="block-title">
	<h2>Form Sunting DPD</h2>
</div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button id="button-selesai" class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<form class="form-horizontal" onsubmit="return false;">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Kode</label>
		<div class="col-sm-2">
			<input type="text"  name="dpd_kode" class="form-control" placeholder="Kode DPD"  autofocus />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Nama</label>
		<div class="col-sm-4">
			<input type="text"  name="dpd_nama" class="form-control" placeholder="Nama DPD"  />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Alamat</label>
		<div class="col-sm-5">
			<input type="text"  name="dpd_alamat" class="form-control" placeholder="Alamat Perwakilan"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Bank Transfer</label>
		<div class="col-sm-2">
			<input type="text"  name="dpd_bank" class="form-control" placeholder="Bank Transfer"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Account Transfer</label>
		<div class="col-sm-2">
			<input type="text"  name="dpd_an" class="form-control" placeholder="Account Transfer"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Rekening Transfer</label>
		<div class="col-sm-2">
			<input type="text"  name="dpd_no_rek" class="form-control" placeholder="Rekening Transfer"/>
		</div>
	</div>
		
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3 btn-group sunting hidden">
			<button id="button-simpan" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
			<button id="button-batal" class="btn btn-sm btn-info"><i class="fa fa-times"></i> Batal</button>
		</div>
		<div class="col-sm-9 col-sm-offset-3 btn-group rincian">
			<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
			<button id="button-sunting" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o"></i> Sunting</button>
		</div>
	</div>
</form>
<div class="clear-fix" ></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "form_sunting_dpd.js");
</script>
