<div class="block-title"><h2></h2></div>

<div class="table-responsive">
	<table id="tabel-drd" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th rowspan="2">No</th>
				<th rowspan="2" align="center">Satuan Pemakai</th>
				<th colspan="3" align="center">08-2014</th>
				<th colspan="3" align="center">09-2014</th>
				<th colspan="3" align="center">10-2014</th>
				<th colspan="3" align="center">Total</th>
			</tr>
			<tr>
				<td>Lembar</td>
				<td>Volume</td>
				<td>Rupiah</td>
				<td>Lembar</td>
				<td>Volume</td>
				<td>Rupiah</td>
				<td>Lembar</td>
				<td>Volume</td>
				<td>Rupiah</td>
				<td>Lembar</td>
				<td>Volume</td>
				<td>Rupiah</td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div class="btn-group">
	<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
	<button id="button-tambah" class="btn btn-sm btn-success"><i class="gi gi-circle_plus"></i> Tambah</button>
</div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_rinci_tunda.js");
</script>
