<div class="table-responsive">
	<table id="tabel-pdam" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Kode</th>
				<th>PDAM / BPAM</th>
				<th>Kota / Kabupaten</th>
				<th>Lembar</th>
				<th>Kubikasi</th>
				<th>Rupiah</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Kode</th>
				<th>PDAM / BPAM</th>
				<th>Kota / Kabupaten</th>
				<th>Lembar</th>
				<th>Kubikasi</th>
				<th>Rupiah</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_rekap_tunda.js");
</script>
