<div class="table-responsive">
	<table id="tabel-pdam" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>PDAM / BPAM</th>
				<th>Kota</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div class="clear-fix"></div>
