<div class="table-responsive">
	<table id="tabel-satuan" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>No</th>
				<th>Satuan Tugas</th>
				<th>PDAM / BPAM</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>No</th>
				<th>Satuan Tugas</th>
				<th>PDAM / BPAM</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
