<div class="block-title"><h2>Form Sunting Satuan</h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button id="button-selesai" class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<form class="form-horizontal" onsubmit="return false;">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Nama Satuan</label>
			<div class="col-sm-2">
				<input type="text"  name="pel_nama" class="form-control" required disabled />
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Unit Organisasi</label>
			<div class="col-sm-3">
				<select id="option-kemhan" name="gp_parent" class="form-control" size="1" disabled></select>
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Kotama</label>
			<div class="col-sm-3">
				<select id="option-kotama" name="gp_kode" class="form-control" size="1" disabled></select>
			</div>
	</div>
	<div id="pdam_kode">
		
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-2 btn-group sunting hidden">
			<button id="button-simpan" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
			<button id="button-batal" class="btn btn-sm btn-info"><i class="fa fa-times"></i> Batal</button>
		</div>
		<div class="col-sm-9 col-sm-offset-2 btn-group rincian">
			<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
			<button id="button-sunting" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o"></i> Sunting</button>
			<button id="button-hapus" class="btn btn-sm btn-warning"><i class="fa fa-trash-o"></i> Hapus</button>
		</div>
	</div>
</form>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "form_sunting_satuan.js");
</script>
