<div class="block-title"><h2></h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button id="button-selesai" class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<form onsubmit="return false">
	<div id="div-rekening"></div>
	<div class="clear-fix"></div>
	<div class="btn-group">
		<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
		<button id="button-simpan" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
		<button id="button-sunting" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o"></i> Sunting</button>
	</div>
</form>
<div class="clear-fix"></div>

<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "form_rinci_drd.js");
</script>
