<div class="block-title"><h2>Form Tambah Satuan</h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button id="button-selesai" class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<form class="form-horizontal" onsubmit="return false;">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Nama Satuan</label>
			<div class="col-sm-2">
				<input type="text"  name="pel_nama" class="form-control" placeholder="Nama Satuan" required />
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Unit Organisasi</label>
			<div class="col-sm-3">
				<select id="option-kemhan" name="gp_parent" class="form-control" size="1"></select>
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Kotama</label>
			<div class="col-sm-3">
				<select id="option-kotama" name="gp_kode" class="form-control" size="1"></select>
			</div>
	</div>
	<div id="pdam_kode">
		
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3 btn-group">
			<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
			<button id="button-tambah" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Simpan</button>
		</div>
	</div>
</form>
<div class="clear-fix" ></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "form_tambah_satuan.js");
</script>
