<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<form onsubmit="return false">
	<div id="div-rekening"></div>
	<div class="clear-fix"></div>

	<div class="form-group">
		<label for="comment">Keterangan :</label>
		<textarea class="form-control" rows="5" id="keterangan"></textarea>
	</div>
	<div class="clear-fix"></div>

	<div class="btn-group">
		<button class="btn btn-sm btn-info" onclick="loadFile('kembali')">
			<i class="fa fa-arrow-circle-left"></i> Kembali
		</button>
		<button id="button-simpan" class="btn btn-sm btn-info">
			<i class="fa fa-save"></i> Simpan
		</button>
	</div>
</form>
<div class="clear-fix"></div>
