<div class="block-title hidden"><h2></h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button id="button-selesai" class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<form class="form-horizontal" onsubmit="return false;">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Tanggal Input</label>
		<div class="col-sm-2">
			<input type="text"  name="input_tanggal" class="form-control" placeholder="00-00-000" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Nama Petugas</label>
		<div class="col-sm-4">
			<input type="text"  name="input_nama" class="form-control" placeholder="Nama Pelaksana" required />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Hak Akses</label>
		<div class="col-sm-4">
			<input type="text"  name="input_priv" class="form-control" placeholder="Institusi Pelaksana" required />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Status Rekening</label>
		<div class="col-sm-2">
			<input type="text"  name="status" class="form-control" placeholder="Status Rekening"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Jumlah Sambungan</label>
		<div class="col-sm-2">
			<input type="text"  name="rek_lembar" class="form-control" placeholder="Jumlah Sambungan" style="text-align: right" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Volume Pemakaian</label>
		<div class="col-sm-2">
			<input type="text"  name="rek_st_pakai" class="form-control" placeholder="Volume Pemakaian" style="text-align: right" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="example-input-normal">Rupiah Pemakaian</label>
		<div class="col-sm-2">
			<input type="text"  name="rek_total" class="form-control" placeholder="Rupiah Pemakaian" style="text-align: right" />
		</div>
	</div>
		
	</div>
	<div class="form-group">
	<div class="col-sm-9 col-sm-offset-3 btn-group">
		<button class="btn btn-sm btn-info" onclick="loadFile('kembali')"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
		<button id="button-simpan" class="btn btn-sm btn-info disabled"><i class="fa fa-save"></i> Approve</button>
	</div>
	</div>
</form>
<div class="clear-fix" ></div>
