<div class="block-title hide"><h2></h2></div>
<div class="table-responsive">
	<table id="tabel-rekap-satuan" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="head-1">No</th>
				<th class="head-2">Satuan</th>
				<th class="hidden-xs head-3">Kotama</th>
				<th class="hidden-xs head-4">PDAM / BPAM</th>
				<th class="head-5">Rekening</th>
				<th class="head-6">Rupiah</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th class="head-1">No</th>
				<th class="head-2">Satuan</th>
				<th class="hidden-xs head-3">Kotama</th>
				<th class="hidden-xs head-4">PDAM / BPAM</th>
				<th class="head-5">Rekening</th>
				<th class="head-6">Rupiah</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
