<div class="table-responsive">
	<table id="tabel-rekap-kotama" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>No</th>
				<th>Kotama</th>
				<th>Sambungan</th>
				<th>Volume</th>
				<th>Rupiah</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>No</th>
				<th>Kotama</th>
				<th>Sambungan</th>
				<th>Volume</th>
				<th>Rupiah</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
