<div class="table-responsive">
	<table id="tabel-drd-rekap" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>PDAM / BPAM</th>
				<th>Kota / Kabupaten</th>
				<th>Sambungan</th>
				<th>Kubikasi</th>
				<th>Rupiah</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>PDAM / BPAM</th>
				<th>Kota / Kabupaten</th>
				<th>Sambungan</th>
				<th>Kubikasi</th>
				<th>Rupiah</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
