<div class="block-title hide"><h2></h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button id="button-selesai" class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<div class="table-responsive">
	<table id="tabel-rinci-satuan" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>No SL</th>
				<th>Sambungan</th>
				<th>Volume</th>
				<th>Rupiah</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>No SL</th>
				<th>Sambungan</th>
				<th>Volume</th>
				<th>Rupiah</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
