<div class="table-responsive">
	<table id="tabel-rinci-rekening" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>No.</th>
				<th>Satuan</th>
				<th>Rekening</th>
				<th>Sambungan</th>
				<th>Volume</th>
				<th>Rupiah</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
