<div class="block-title"><h2></h2></div>
<div class="table-responsive">
	<table id="tabel-kemhan-laporan" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Unit Organisasi</th>
				<th>Sambungan</th>
				<th>Volume</th>
				<th>Rupiah</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Unit Organisasi</th>
				<th>Sambungan</th>
				<th>Volume</th>
				<th>Rupiah</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
<div class="btn-group">
	<button id="button-kembali" class="btn btn-sm btn-info hidden"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
</div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_kemhan.js");
</script>
