<div class="block-title"><h2></h2></div>
<div class="table-responsive">
	<table id="tabel-pdam-laporan" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Nama</th>
				<th>Kota</th>
				<th>Sambungan</th>
				<th>Volume</th>
				<th>Rupiah</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Nama</th>
				<th>Kota</th>
				<th>Sambungan</th>
				<th>Volume</th>
				<th>Rupiah</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_pdam.js");
</script>
