<div class="block-title"><h2></h2></div>
<div class="table-responsive">
	<table id="tabel-satuan" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Satuan Tugas</th>
				<th>PDAM / BPAM</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Satuan Tugas</th>
				<th>PDAM / BPAM</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
<div id="button-area">
	<button id="button-kembali" class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-arrow-circle-left"></i> Kembali
	</button>
</div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_satuan.js");
</script>
