<div class="table-responsive">
	<table id="tabel-kemhan" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Unit Organisasi</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Unit Organisasi</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
<div id="button-area"></div>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_kemhan.js");
</script>
