<div class="table-responsive">
	<table id="tabel-dpd" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Nama</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Nama</th>
			</tr>
		</tfoot>
		<tbody></tbody>
	</table>
</div>
<button id="button-tambah" class="btn btn-sm btn-success"><i class="gi gi-circle_plus"></i> Tambah</button>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_dpd.js");
</script>
