<div class="block-title"><h2></h2></div>

<div id="pesan" class="hidden">
	<div role="alert"></div>
	<button id="button-selesai" class="btn btn-sm btn-info" onclick="loadFile('kembali')">
		<i class="fa fa-chevron-left"></i> Kembali
	</button>
</div>

<form onsubmit="return false">
	<div class="table-responsive">
		<table id="tabel-pdam" class="display table table-vcenter table-condensed table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Nama</th>
					<th>Kota</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="btn-group">
		<button id="button-kembali" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
		<button id="button-tambah" class="btn btn-sm btn-info"><i class="gi gi-circle_plus"></i> Tambah</button>
	</div>
	<div class="btn-group">
		<button id="button-sunting" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o"></i> Sunting</button>
		<button id="button-hapus" class="btn btn-sm btn-warning"><i class="fa fa-trash-o"></i> Hapus</button>
	</div>
</form>
<div class="clear-fix"></div>
<script>
	jQuery.getScript(dataTemp[dataTemp.applKode].targetUrl + "view_pdam.js");
</script>
